@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.u-ifont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
.g-doc {
  min-width: 1200px;
  background-color: #f5f5f5;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.mpg-spirit {
  background: url("../img/mpg_img.png") no-repeat;
}
.g-hd {
  position: relative;
  z-index: 3;
}
.g-wrap.con {
  background-color: #ffffff;
}
.g-wrap-1000 {
  width: 1000px;
  margin: 0 auto;
}
.m-focus {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #fff;
}
.m-focus .shade {
  display: block;
  position: absolute;
  z-index: 2;
  top: -25px;
  left: 0;
  height: 25px;
  width: 100%;
  -webkit-box-shadow: 0 0 20px 0 #ADACAC;
}
.m-title {
  position: absolute;
  z-index: 2;
  left: 8px;
  top: 15px;
  color: #fff;
  font-size: 17px;
}
.m-title .mpg-text {
  display: block;
  width: 77px;
  height: 26px;
  background-position: 0px -8px;
}
.m-slider {
  position: relative;
  width: 1190px;
  height: 400px;
  overflow: hidden;
  white-space: nowrap;
}
.m-slider a:hover {
  text-decoration: none;
}
.m-slider li {
  display: none;
  top: 0;
  left: 0;
  width: 1190px;
  height: 400px;
}
.m-slider li img {
  width: 100%;
  height: 100%;
}
.m-slider .u-pointer {
  position: absolute;
  z-index: 100;
  bottom: 15px;
  left: 50%;
  width: auto;
  height: 25px;
  overflow: hidden;
}
.m-slider .u-pointer a {
  float: left;
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.m-slider .u-pointer a:hover,
.m-slider .u-pointer a.z-crt {
  opacity: 1;
  filter: alpha(opacity=100);
}
.m-bar {
  width: 1000px;
  height: 34px;
  background: url("../img/bar.jpg") #ffffff -190px 0 no-repeat;
}
.m-bar a {
  line-height: 31px;
  color: #ff89d5;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.m-bar a.z-crt,
.m-bar a:hover {
  color: #fff;
}
.m-bar .f18 {
  font-size: 18px;
}
.m-bar .fl {
  float: left;
}
.m-bar .fl a {
  padding: 0 20px;
}
.m-bar .fr {
  float: right;
  padding-right: 25px;
}
.m-goods {
  background-color: #fff;
}
.m-goods .list {
  padding-bottom: 30px;
  padding-left: 16px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.m-goods .list .tip-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 66px;
  height: 44px;
  background-position: -5px -51px;
}
.m-goods .list li {
  position: relative;
  float: left;
  width: 310px;
  overflow: hidden;
  border: 1px solid #cccccc;
  margin-right: 16px;
  margin-top: 30px;
}
.m-goods .list li:hover {
  border: 1px solid #f61d4b;
}
.m-goods .list li:hover .tip-icon {
  display: block;
}
.m-goods .list li img {
  width: 310px;
  height: 310px;
}
.m-goods .list li a:hover {
  text-decoration: none;
}
.m-goods .list .info {
  width: 312px;
  height: 60px;
  color: #fff;
  overflow: hidden;
  background-color: #c32285;
}
.m-goods .list .tt {
  height: 44px;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 3px 40px;
  color: #666;
}
.m-goods .list .red-1 {
  color: #f51a42;
}
.m-goods .cost {
  font-family: 'arial';
  font-size: 28px;
  line-height: 60px;
  margin-left: 3px;
}
.m-goods .cost i {
  font-style: normal;
  font-size: 18px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.m-goods .num {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 4px;
}
.m-goods .state {
  width: 90px;
  font-size: 16px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}
.m-goods .z-buy {
  background-position: -5px -106px;
  color: #ce0d36;
}
.m-goods .z-pre {
  background-position: -5px -245px;
}
.m-goods .z-end {
  background-position: -5px -176px;
}
.f-lazy {
  background: #ffffff url(../../../common/img/icon/60x60_loading.gif) center center no-repeat;
}
.paging {
  margin: 20px 0 50px 0;
}
.m-rnav {
  position: absolute;
  top: 589px;
  width: 1000px;
  height: 0;
}
.m-rnav .list {
  position: absolute;
  top: 0;
  right: -100px;
  width: 90px;
  background-color: #fff;
}
.m-rnav li a {
  display: block;
  width: 80px;
  padding-left: 5px;
  padding-right: 5px;
  color: #666;
}
.m-rnav li a:hover {
  color: #e50d98;
  text-decoration: none;
}
.m-rnav li span {
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px dashed #ebebeb;
}
.m-rnav li.z-crt {
  background: url("../img/mpg_img.png") no-repeat;
  background-position: -93px -51px;
}
.m-rnav li.z-crt a {
  color: #fff;
}
