/*--------- css sprite ---------*/


.shs_flow i,
.buyer-list em,
.notice-panel li a,
.goods-sider-tit .commonMore i,
.goods-sider-ft i,
.report-list li .words { background: url("../../images/www/goods-ico-new.png") no-repeat; _background: url("../../images/www/goods-ico-png8.png") no-repeat;}

.shs_flow {background: url("../../images/www/line.png") no-repeat;_background: url("../../images/www/line-png8.png") no-repeat;}

.shs_flow_1 i { background-position: 0 0;}
.shs_flow_2 i { background-position: 0 -48px;}
.app_flow_2 i { background-position: -102px 0;}
.shs_flow_3 i { background-position: 0 -97px;}
.shs_flow_4 i { background-position: 0 -146px;}
.app_flow_4 i { background-position: -102px -48px;}
.app_flow_5 i { background-position: -102px -97px;}

.shs_flow_1 a:hover i { background-position: -51px 0;}
.shs_flow_2 a:hover i { background-position: -51px -48px;}
.app_flow_2 a:hover i { background-position: -153px 0;}
.shs_flow_3 a:hover i { background-position: -51px -97px;}
.shs_flow_4 a:hover i { background-position: -51px -146px;}
.app_flow_4 a:hover i { background-position: -153px -48px;}
.app_flow_5 a:hover i { background-position: -153px -97px;}

.buyer-list em { background-position: 0 -217px;}
.notice-panel li a { background-position: 10px -236px;}
.goods-sider-tit .commonMore i,
.goods-sider-ft i { background-position: 0 -264px;}
.report-list li .words { background-position: 0 -280px;}

.hide{ display:none;}
.btn {
	padding: 0.4em .8em;
	background-color: #EEEEEE;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#ffffff", endColorstr="#e0e0e0");
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff 0, #e0e0e0 100%);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(top, #ffffff, #e0e0e0);
	display: inline-block;
	*zoom: 1;
	*display: inline;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #666;
	text-shadow: 0px 1px #fff;
	border: 1px solid #D7D7D7;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	cursor: pointer;
}
.app-link{
    display: inline-block;
    margin-bottom:20px;
    text-decoration: underline;
    color: #009cff;
}
.app-link:hover{
    text-decoration: underline;
}
.btn-center { text-align: center;}
.font-highlight,
.log li em { color: #f54444;font-family: \5FAE\8F6F\96C5\9ED1;}

.log, .goods-detail, .goods-saller, .goods-sider{ background-color: #fff; border: 1px solid #D7D7D7;  border-top: 2px solid #c00; color: #666;}
.log-tit, .goods-detail-tit, .goods-saller-tit, .goods-sider-tit { padding-left:10px; color: #333; font-size: 14px; font-weight: 700; line-height: 2.6; background-color: #ededed; text-overflow: ellipsis; white-space: nowrap;overflow: hidden; border-bottom: 1px solid #D7D7D7;}
.loading-data { padding: 12px; }
.no-data { padding: 12px;}
.commonMore { float: right; margin-right: 10px; line-height: 3; font-size: 12px; font-weight: 400; font-family: \5b8b\4f53; _display: inline; cursor: pointer;}
.goods-sider-tit .commonMore i {float: left; display: block; margin-top: 10px; margin-right: 3px; width: 12px; height: 15px;}


/*====================================================*/
.main { width: 1000px; margin: 0 auto; }

/*-------------- 面包屑 -----------*/
.breadcrumbs { display: block; margin-top: 8px; padding: 6px 0; color: #404040;}
.breadcrumbs-tit { float: left; margin-right: 8px; color: #404040;}
.breadcrumbs-path { float: left;}
.breadcrumbs-path a { color: #404040;}
.breadcrumbs-path a:hover { color: #c00; text-decoration: underline;}
.breadcrumbs-path i { display: inline-block; *zoom: 1; *display: inline; padding-left: 6px; padding-right: 3px; font-family: \5b8b\4f53; font-style: normal;}
.breadcrumbs-target { float: left; padding-left: 5px; width: 16em; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/*-------------- 商品详情模块 -----------*/
.goodsDetail { }
.goodsDetail-main { float: left;width: 742px;}
.goodsDetail-aside { float: right; width: 240px;margin-top: 14px;}
/*商品展示图画廊*/
.goodsDetail-gallery { float: left; width: 352px;position: relative;}
.goodsDetail-gallery-yzcm,.goodsDetail-gallery-mpg{
	display: block;
	width:45px;
	height: 44px;
	background: url("../../images/www/goods_source.png") no-repeat;
	_background: url("../../images/www/goods_source_png8.png") no-repeat;
	position: absolute;
	top: -3px;
	right: 0px;
}
.goodsDetail-gallery-yzcm{background-position: 0px 0px;}
.goodsDetail-gallery-mpg{background-position:0px -45px;}

.goodsDetail-showPic { display: table-cell; vertical-align: middle; height: 350px; width: 350px; overflow: hidden; text-align: center !important; border: 1px solid #E4E4E4; background: #fcfcfc; *display: block; *font: 305.55px/1em Arial;}
.goodsDetail-showPic img { display: inline; max-height: 100%; max-width: 100%; vertical-align: middle;}
.goodsDetail-gallery ul { margin: 10px 0}
.goodsDetail-gallery li { float: left; margin-right: 5px; padding: 1px; height: 60px; width: 60px; border: 1px solid #DCDCDC; overflow: hidden; cursor: pointer; }
.goodsDetail-gallery li:hover,
.goodsDetail-gallery-cur { border-color: #EC514F; background-color: #EC514F; }
.goodsDetail-gallery li img { width: 100%; _width:expression(this.clientWidth>60? 60:this.clientWidth); }
/*商品信息*/
.goodsDetail-info { float: left; margin-left: 15px; width: 375px; color: #666666; overflow: hidden; _display: inline; }
.goodsDetail-info h1 { font-size: 16px; line-height: 24px; max-height: 48px; overflow: hidden; word-wrap:break-word; word-break:break-all; color: #404040;}
.goodsDetail-fenshu { margin-top: 10px;font-family: \5FAE\8F6F\96C5\9ED1;}
.goodsDetail-fenshu span {margin-right: 20px; font-size: 15px; }

.goodsDetail-timeRemaining,
.goodsDetail-safe { margin-top: 21px;padding-left: 30px; font-size: 14px;font-family: \5fae\8f6f\96c5\9ed1;background: url("../../images/www/goods-info-ico.png") no-repeat;_background: url("../../images/www/goods-info-png8.png") no-repeat;}
.goodsDetail-timeRemaining{background-position: 0 7px;}
.goodsDetail-safe {background-position: 0 -19px;}
.timeRemaining-tit{ display: inline-block; *zoom: 1; *display: inline;padding: 5px 5px 0 0;color: #626365; font-style: normal; }
.timeRemaining-cont,
.safe-cont { display: inline-block; *zoom: 1; *display: inline;white-space: nowrap; width: 260px; _overflow: hidden; _text-overflow: ellipsis;}


.goodsDetail-price { background: #F5F5F5; border: 1px solid #DDD; margin-top: 10px; overflow: hidden; }
.goodsDetail-HXJ { font-family: \5fae\8f6f\96c5\9ed1;height: 42px; padding: 10px; overflow: hidden; }
.goodsDetail-HXJ p {float: left; }
.goodsDetail-HXJ .money-ico {font-size: 18px;color: #cc0000;}
.goodsDetail-HXJ-tit { position: relative; font-size: 14px;}
.goodsDetail-HXJ-num { font-family: Arial;color:#cc0000;font-size: 26px;font-weight: 700; }
.goodsDetail-HXJ em { position: relative; bottom: 5px; left: 5px;font-size:14px;padding: 0.1em .4em;color:#fbeded;background: #faa636; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.btn-buy {
	float: right;
	display: block;
	width: 123px;
	height: 41px;
	line-height: 42px;
	background-color: #E64C4C;
    font-family: \5fae\8f6f\96c5\9ed1;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	color: #FFFFFF;
	font-size: 18px;
	overflow: hidden;
	text-align: center;
	cursor:pointer;
}
.btn-buy-disable { background-color: #919191; }
.btn-buy-disable:hover { cursor: default;}
.btn-buy:hover,
.btn-buy-disable:hover { color: #fff; }
.price-boundary { display: block; margin: 0 10px; height: 0; overflow: hidden; border-top: 1px solid #ddd; border-bottom: 1px solid #fff;}
.goodsDetail-XDJ {font-size: 12px; padding: 10px 0; width: 100%; background-color: #FAFAFA; }
.goodsDetail-XDJ li {float: left; width: 32.5%; padding: .4em 0; overflow: hidden; text-align: center; white-space: nowrap; text-overflow:ellipsis; border-left: 1px solid #fff; border-right: 1px solid #ddd; }
.goodsDetail-XDJ li:last-child,
.goodsDetail-XDJ li.last-child { border-right: none;}
.goodsDetail-quan { margin-top: 12px; color: #aaa; text-align: center; }
.goodsDetail-quan em { font-weight: 700;}
.goodsDetail-quan a { color: #aaa; text-decoration: underline;}
.goodsDetail-quan a:hover { color: #EA5900;}
.goodsDetail-other { margin-top: 25px;}
.goodsDetail-remind { display: none; float: right; text-align: center;}    /* js 判断再显示 */
.remind-btn { display: inline-block; *zoom: 1; *display: inline; padding:5px 12px; background: #317EE7; color: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.remind-btn:hover { background: #266DCE; color: #fff; cursor: pointer;}
.remind-count { display: block;}
.goodsDetail-other .btn { padding: 0; width: 95px; height: 27px; line-height: 27px;}
.goodsDetail-browse { color: #999;}

/*---------- 分享 --------*/
.share { clear:both; width: 350px; overflow: hidden; }
.ckepop { height: 16px; overflow: hidden; padding-top: 5px; float: left; }
.ckepop p { float: left; font-size: 12px; }
.ckepop a { float: left; }
.share .goodsDetail-browse { float: right; }

/*--------- 商家信息模块 -------------*/
.seller { background-color: #fff; overflow: hidden; border: 1px solid #E2E2E2; }
.seller-tit { padding-left: 15px; padding-top: 10px; font-size: 14px; color: #333; }
.seller-avatar,.seller-avatar-app { display: block; width: 160px; height: 80px; overflow: hidden; margin: 10px auto; }
.seller-avatar img { width: 100%; height: 100%; }
.seller-avatar-app { height: 120px;}
.seller-avatar-app img{ margin-top:10px;}
.seller-name { overflow: hidden; text-align: center; color: #666; white-space: nowrap; text-overflow: ellipsis; _width: 100%; }
.seller .btn { margin: 10px 0; }

/*-----------  公告  -------------------*/
.notice { margin-top: 15px; border: 1px solid #D5D5D5;}
.notice-hd { padding-top:4px; text-align: center; background-color:#eee; margin-bottom:-1px; *zoom:1; *position: relative; _margin-bottom:-2px; }
.notice-hd a { float:left; margin-left:7px; width:68px; height:24px;line-height: 24px; border:1px solid #eee; border-bottom-width:0;  }
.notice-curItem { border:1px solid #d5d5d5 !important; border-bottom-width: 0 !important; font-weight: 700; background-color:#fff; }
.notice-bd { border-top:1px solid #e8e8e8;}
.notice-panel { padding: 8px 8px 8px 0; }
.notice-panel li a { display: block; padding-left: 20px; line-height: 23px; text-overflow:ellipsis; white-space: nowrap; overflow: hidden; _zoom: 1; _width:210px;}

/*----------- 购买记录/活动管理 （这东西是用户登录状态下ajax加载进来的 替换掉 公告面板， html代码写在 www/detail.js里面） --------------*/
.log { margin-top: 15px; }
.log ul { padding: 0 10px; line-height: 30px;}
.log li { border-bottom: 1px dotted #CFCFCF; }
.log li em { margin-left: 5px; font-weight: 700;}
.log .btn {margin: 10px 0; }

/*----------- 购买流程 --------------*/
.shs_flow { margin-top: 10px;padding-top: 20px;padding-bottom: 10px; width: 1000px; height: 68px;border-bottom: 1px dashed #b6b6b6;  overflow: hidden; }
.shs_flow li { float: left; position: relative; padding-left: 3px;padding-top: 15px; height: 100%; overflow: hidden;  *zoom: 1; }
.app_flow li {padding-left:0;}
.shs_flow li i {width: 51px;height:46px;position: absolute; z-index: 9; left: 13px; top: -26px; display: block; overflow: hidden; background-color: transparent;}
.shs_flow .step{padding-left: 70px;color:#e64c4c;font-size: 16px;font-family: \5FAE\8F6F\96C5\9ED1;font-weight: 700;}
.shs_flow a { position: relative; z-index: 10; display: block;padding-left: 70px; color: #666; white-space: nowrap; text-overflow:ellipsis; }
.shs_flow a:hover { text-decoration: underline;}
.app_flow a:hover { text-decoration: none;}
.shs_flow_1 a { padding-left: 70px;}
.shs_flow_1 { width:237px; background-image: none !important;}
.app_flow_1 {width: 145px;}
.shs_flow_2 { width:267px; }
.app_flow_2 { width: 155px;}
.shs_flow_3 { width:231px; }
.app_flow_3 { width:215px;}
.shs_flow_4 { width:251px; }
.app_flow_5 { width:215px;}
.shs_flow .font-highlight { font-weight: 700;}




.goods-main-wrap {margin-top: 55px; }
.goods-main {float: left; width: 740px; _overflow: hidden; }

/*商品详情*/
.goods-detail { }
.goods-detail-tit { }
.goods-detail-body { padding: 15px 10px; word-wrap: break-word; word-break: break-all; overflow: hidden; font-size: 16px;}
.goods-detail-body img { max-width: 100%; _width:expression(this.clientWidth>718? 718:this.clientWidth); }
.goods-detail-prompts{font-weight: bold; color: #F44444;}
.goods-detail-prompts-title{float: left;width: 95px;text-align: right;}
.goods-detail-prompts-cont{float: left;width: 615px;}
.goods-detail-present{font-weight: bold; color: #666;margin-top: 40px;}
.goods-detail-present-title{float: left;width: 95px;text-align: right;}
.goods-detail-present-cont{float: left;width: 615px;}
.goods-detail-rules{margin: 20px 0 0 10px;}
.goods-detail-rules a{color: #219DC9;text-decoration: none;}
.goods-detail-rules a:hover{color: #EA5900;text-decoration: underline;}
.goods-detail-code{float:left;width: 410px;}

/* 用户  晒单 */
.goods-buyer { margin-top: 20px; }
.goods-buyer-nav { }

.buyer-list {padding: 10px; }
.buyer-list a { float: left; position: relative; width: 87px; height: 82px; padding-top: 12px; overflow: hidden;  border: 1px solid transparent; _border: 1px solid #fff; text-align: center; }
.buyer-list a:hover {border: 1px solid #c00; border-color: #C62222; text-decoration: none; }
.buyer-list img { display: inline; width: 48px; height: 48px; vertical-align: top;}
.buyer-list em { position: absolute; width: 18px; height: 18px; left: 49px; top: 44px; }
.buyer-list span { display:block; width: 100%; overflow: hidden; line-height: 24px; text-overflow:ellipsis; white-space: nowrap; }
.report-list { padding: 10px;}
.report-list li {float: left; width: 330px; overflow: hidden; padding: 10px; }
.report-list li .pic {float: left; }
.report-list li .user {color: #999; margin-left: 2px; width: 207px; float: left; }
.report-list li .user .face {float: left; margin-left: 13px; margin-right: 10px; display: block; }
.report-list li .user .face img {height: 40px; width: 40px; }
.report-list li .user .name {color: #C62222; }
.report-list li .user .time {}
.report-list li .words {
	color: #999;
	height: 60px;
	line-height: 21px;
	margin-top: 10px;
	overflow: hidden;
	padding: 5px 5px 5px 15px;
	width: 187px;
}
/*分页*/
.paging-center { margin:30px 0;}



/*商品展示模块*/
.goods-show { color:#666; }
.goods-show-pic { display: block; margin: 0 auto; width: 160px; height: 160px; text-align: center; position: relative;}
.goods-show-pic img { display: inline;}
.goods-show-yzcm {width: 63px;height: 59px;position: absolute; top: -2px; right: -2px; background: url(../../images/www/goods_source_small.png) 0 0 no-repeat; _background: url(../../images/www/goods_source_small_png8.png) 0 0 no-repeat;}
.goods-show-tit { width: 100%; padding: .6em 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.goods-show-price { }
.goods-show-price span { display: inline-block; padding: 0 0.3em; margin-right: 3px; color:#fff; background-color: #F54444;}
.goods-show-price em { font-size: 18px;}

/*"其它商品"区*/
.goods-saller {margin-top: 20px; }
.goods-saller-cont {overflow: hidden; padding: 9px; width: 720px; }
/*嵌入商品展示模块*/
.goods-saller-cont .goods-show {  float: left; width: 160px; padding: 10px; overflow: hidden; background-color:#EDEDED;}


/*侧边栏*/
.goods-sider {float: right; overflow: hidden; width: 238px; }
.goods-sider-tit { }
.goods-sider-cont { padding: 20px; padding-bottom:0; margin-bottom: -1px; *zoom: 1;}
.goods-sider-ft {padding: 6px 0; background: #F5F5F5; text-align: center; border-top: 1px solid #D7D7D7;cursor: pointer;}
.goods-sider-ft i { display: inline-block; position: relative; right: 3px; top: 3px; width: 12px; height: 15px;}
/*嵌入商品展示模块*/
.goods-sider-cont .goods-show { padding: 15px 0; border-bottom: 1px dashed #D7D7D7;}

.footer { margin-top: 50px;}

/*---------- 弹出框（它们的html代码写在 www/global.js || detail.js 里面。） ---------*/
/*登录框*/
.login-tipMsg { display: block; margin-bottom: 10px; padding: 4px 22px 4px; border: 1px solid #FFAD77; color: #f00; background:url(../../images/www/warnning.png) no-repeat 4px 7px #FFFFD0; word-wrap: break-word;}
.login-uName p, .login-pwd p { line-height: 24px; font-size: 14px; }
.login-pwd { margin-top: 12px;}
.login-pwd input, .login-uName input { padding: 5px; width: 240px; border: 1px solid #ccc; outline: none; }
.login-pwd input:focus, .login-uName input:focus { border-color:#FF818E; box-shadow: 0 0 4px rgba(204,0,0,.6); }
.login-other { margin-top: 10px; }
.login-otherL { float: left; }
.login-otherR { float: right; }
.login-other a { text-decoration: underline;}
.login-QQlogin{margin-right: 10px;}
.login-QQlogin img{vertical-align: text-top;}
.login-btn { margin-top: 20px;}
.login-btn {display: block;height: 35px;line-height: 35px;width: 252px;font-size: 18px;background-size: cover;color: #f9f9f9;cursor: pointer;text-align: center;font-weight: normal;font-weight:bold\0;*font-weight:bold; border: 0;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    background-color: #E22627;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F23C3D),to(#D51415));
    background-image: -moz-linear-gradient(top,#F23C3D,#D51415);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F23C3D',endColorstr='#D51415');
    background-image: -o-linear-gradient(top,#F23C3D,#D51415);
    background-image: -ms-linear-gradient(top,#F23C3D 0,#D51415 100%);
    background-image: linear-gradient(top,#F23C3D,#D51415);
}
.login-btn:hover{
    background-color:#F54040;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#F54040),to(#E22627));
    background-image:-moz-linear-gradient(top,#F54040,#E22627);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F54040',endColorstr='#E22627');
    background-image:-o-linear-gradient(top,#F54040,#E22627);
    background-image:-ms-linear-gradient(top,#F54040 0,#E22627 100%);
    background-image:linear-gradient(top,#F54040,#E22627);
}
.login-btnDisabled, .login-btnDisabled:hover {
    text-shadow: 1px 1px 0 #fff;
    color:#a0a0a0;
    background: #ccc;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: default;
}
/*抢购成功框*/
.buySuccess { width: 490px; height: 180px; }
.buySuccess-tit { font-size: 22px; font-weight: 700; color: #03A709; font-family: \5FAE\8F6F\96C5\9ED1; float:left; }
.buySuccess-cont { color: #333; padding-top: 12px; clear:both; }
.buySuccess em { font-weight: 700; color: #c00; margin: 0 5px; }
.buySuccess-cont p { line-height: 2;}
.buySuccess .problem{ float:right; color:#0066FF;}

/* “设置提醒” 弹框 */
.remind-dialog form { margin-top: 10px;}
.remind-dialog form p { padding: 3px 0; vertical-align: middle;}
.remind-dialog form label { display: inline-block; cursor: pointer;}
.remind-dialog form input { margin-right: 3px; vertical-align: middle;}
.remind-code .ui-form-text { width: 4em; text-align: center;}
.remind-code img { vertical-align: bottom;}
.remind-error { display: none; padding: 5px; color: #f00;}
.remind-otherWays-cont{border: 1px solid #ddd; padding: 10px; margin-left: 17px;}
.remind-otherWays .ui-form-text { width: 180px;}

.remind-remaining { margin-top: 25px; text-align: right;}
.remind-remaining span em { font-weight: 700; color: #EA5900;}
.remind-remaining a { display: block; color: #666;}
.remind-remaining a:hover { color: #EA5900;}
/* 提醒成功*/
.remind-success {}
.remind-success h3 { font-size: 24px; font-weight: 700; color: #1BB974;}
.remind-success-links { margin-top: 12px;}
.remind-success-links span {  color: #666;}
.remind-success-links a { display: inline-block; color: #EA5900; margin-right: 1em;}

/* 抢购验证 (这个模块是特殊活动才会出现) */
.buy-verify {margin-top: 10px;margin-left: 0px;padding: 8px;background: #F5F5F5;border: 1px solid #DDD;}
.buy-verify-img { vertical-align: top;float: left;margin-right: 6px;}
.buy-verify p {margin-top: 6px;}
.buy-verify-val { width: 5em; text-align: center;}
.buy-verify-msg { color: #c00;}

/*填写单号时候的输入框样式*/
input.ui-form-text:focus { outline: none; }
.ui-form-text { min-width: 1em; height: 15px; line-height: 16px; padding: 5px; font-size: 12px; border:1px solid #d3d3d3;}
.ui-form-textRed:focus { border-color:#FF818E; box-shadow: 0 0 3px rgba(204,0,0,.6); }

/*邀请好友功能*/
.invite-btn { display: inline-block; margin-left: 10px; *margin-top: -5px; padding-left: 35px; width: 95px; height: 29px; line-height: 29px; background: url(../../images/www/share.png) no-repeat 0 -215px; }
/*邀请好友弹窗*/
.not-open,.copy-success { width: 345px; text-align: center; }
.not-open .dredge { display:inline-block; margin-top: 15px; margin-right: 10px;width:100px; height:30px; line-height: 30px; background-color: #AB0000; border-radius: 5px; color:#fff; }
.not-open .how-to-open { display: inline-block; position: absolute; right: 95px; bottom: 23px; color:#219dc9; }
.copy-success .how-to-invite { display: inline-block; position: absolute; right: 65px; bottom: 23px; color:#219dc9; }
.not-open .ico, .copy-success .ico {display: inline-block; margin-right: 15px; width: 35px; height: 38px; background: url(../../images/www/share.png) no-repeat; vertical-align: middle; }
.not-open .ico {background-position: 0 -110px; }
.copy-success .ico {background-position: 0 -150px; }
/*快捷邀请*/
.share-box { position: absolute; z-index: 100; margin-left: 111px; *margin-left: -136px; *margin-top: 31px; width: 127px; border: 1px solid #ddd; border-radius: 3px; background-color: #fff; }
.share-box.active { visibility: hidden; }
.share-box h3 { padding-left: 10px; width: 117px; height: 35px; line-height: 35px; border-bottom: 1px solid #ddd; background-color: #F5F5F5; color: #333; font-size: 14px; font-weight: bold;}
.share-box li { margin-top: 10px; padding: 0 10px; }
.share-box li a {display: inline-block; padding-left: 30px; height: 20px; background: url(../../images/www/share.png) no-repeat; }
.share-box li a.copy {background-position: 0 0; }
.share-box li a.qzone {background-position: 0 -27px; }
.share-box li a.pyou {background-position: 0 -54px; }
.share-box li a.weibo {background-position: 0 -81px; }
.share-box h4 { margin-top: 15px; padding-right: 3px; width: 124px; height: 26px; line-height: 26px; border-top: 1px solid #ddd; background-color: #F7F7F7; text-align: right; font-size: 12px; font-weight: normal;}
.share-box h4 a { color: #219dc9;}


/*新：填写单号弹出框样式 - by 陆楚良  nec规范版*/
.m-fillTrade{ width: 470px; height: 235px; color: #324A52; font-size: 12px; padding: 25px; padding-left: 0; }
.m-fillTrade-qrcode{ width: 685px; height: 255px; padding-left: 25px; }
.m-fillTrade .qrcode{ float: left; width: 190px; height: 100%; padding-right: 24px; border-right: 1px dashed #B6BBBE; }
.m-fillTrade .qrcode img{ display: block; width: 190px; height: 190px; margin-bottom: 10px; }
.m-fillTrade .qrcode p{ text-align: center; }
.m-fillTrade .mform{ float: left; width: 450px; height: 100%; padding-left: 20px; }
.m-fillTrade .mform table{width: 100%;}
.m-fillTrade .mform th{height: 40px;width: 65px;text-align: right;font-weight: normal;}
.m-fillTrade .mform td{height: 40px;}
.m-fillTrade .mform .small th,.m-fillTrade .mform .small td{height: 22px;}
.m-fillTrade .mform .ipt{ width: 170px; height: 16px; padding: 6px; line-height: 16px; border: 1px solid #A1A2A2; outline: 0; vertical-align: middle; }
.m-fillTrade .mform .ipt:focus { border-color: #FF818E; box-shadow: 0 0 4px rgba(204,0,0,.6); }
.m-fillTrade .mform .code{ width: 90px; height: 30px; vertical-align: middle; margin-right: 5px; }
.m-fillTrade .mform .tip{ color: #FF4800; margin-left: 5px; }
.m-fillTrade .mform .z-dn{ display: none; }
.m-fillTrade .mform .z-info{ color: #666; }
.m-fillTrade .mform dl{margin-top: 22px;margin-left: 5px;}
.m-fillTrade .mform dd p{text-indent: 2em;}
.m-fillTrade .mform dd a{color:#09f;}
.m-fillTrade .mform dd a:hover{color:#09f;text-decoration: underline;}

/*搜索下单核对商品链接弹窗*/
.app-check-style{ width: 400px;}
.app-check-style p{ line-height:35px;}
.app-check-style input{ width: 400px; height: 25px; line-height: 25px;}
.app-check-style label{ display: block; height: 15px; color: #f00;}