.hide { display: none; }
/*统一最大宽度模块布局样式*/
.main { width: 1000px; margin: 0 auto; }
/*统一中间模块布局样式*/
.mainC { width: 600px; float: left; _display: inline; /*IE 6 BUG*/}
/*统一右边模块布局*/
.mainR { width: 250px; float: left; _display: inline; }
/*去除边框*/
.boder-top-none { border-left: none !important; }
.boder-right-none { border-right: none !important; }
.boder-bottom-none { border-bottom: none !important; }
.boder-left-none { border-left: none !important; }
/*------ sprite -----*/
.I-cat-menu li i { background: url(../../images/www/index_category_sprite.png) 0 0 no-repeat; _background: url(../../images/www/index_category_sprite_png8.png) 0 0 no-repeat; }
.I-cat-menu .selected i { background-position-x: -32px !important; }
.cat-1 i { background-position: 0 4px !important; }
.cat-2 i { background-position: 0 -32px !important; }
.cat-3 i { background-position: 0 -68px !important; }
.cat-4 i { background-position: 0 -102px !important; }
.cat-5 i { background-position: 0 -138px !important; }
.cat-6 i { background-position: 0 -172px !important; }
.cat-7 i { background-position: 0 -207px !important; }
.cat-8 i { background-position: 0 -244px !important; }
.cat-9 i { background-position: 0 -305px !important; }
.cat-10 i { background-position: 0 -276px !important; }

.I-member-icon,
.I-member-btnLogin,
.I-member-btnRegister,
.I-strength li,
.I-member .memberMsg .goto-myYL a,
.helper-center b,
.helper-buyerQ b,
.helper-sellerQ b,
.helper-service b,
.helper-about b,
.helper a { background: url(../../images/www/index_sprite.png) 0 0 no-repeat; _background: url(../../images/www/index_sprite_png8.png) 0 0 no-repeat; }
.I-member-icon { background-position: 0px 0px; }
.I-member-btnLogin { background-position: 10px -28px; }
.I-member-btnRegister { background-position: 10px -53px; }
.I-strength-1 { background-position: 30px -100px !important; }
.I-strength-2 { background-position: 30px -180px !important; }
.I-strength-3 { background-position: 30px -269px !important; }
.I-strength-4 { background-position: 30px -352px !important; }
.I-member .memberMsg .goto-myYL a { background-position: -8px -86px; }
.helper-center b { background-position: -4px -467px; }
.helper-buyerQ b { background-position: -4px -487px; }
.helper-sellerQ b { background-position: -4px -508px; }
.helper-service b { background-position: -4px -528px; }
.helper-about b { background-position: -4px -548px; }
.helper a { background-position: -4px -567px; }
.helper a:hover { background-position: -4px -587px; }
/*--- 分类导航 ---*/
.I-cat { float: left; position: relative; z-index: 1; }
.I-cat-menu { width: 150px; height: 315px; }
.I-cat-menu li { padding-top: 4px; height: 28px; background-color: #F5F5F5; position: relative; }
.I-cat-menu li h3 { font-size: 14px; font-weight: normal; float: left; vertical-align: middle; margin-top: 1px; _display: inline; }
.I-cat-menu li h3 a { cursor: pointer; color: #666; }
.I-cat-menu li i { width: 18px; height: 23px; vertical-align: middle; float: left; margin: 0 8px 0 16px; _display: inline; }
.I-cat-menu li b em,
.I-cat-menu li b span { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #c9c9c9; border-style: dashed dashed dashed solid; border-width: 4px 0 4px 4px; position: absolute; right: 8px; top: 50%; margin-top: -4px; }
.I-cat-menu li b span { border-color: transparent transparent transparent #F5F5F5; right: 10px; }
.I-cat-menu .selected { padding-top: 3px; border-top: 1px solid #5F5F5F; background-color: #515151 !important; }
.I-cat-menu .selected h3 a { color: #fff; }
.I-cat-menu .selected h3 a:hover { color: #fff; text-decoration: underline; }
.I-cat-menu .selected b { display: none; }
.cat-2,
.cat-4,
.cat-6,
.cat-8,
.cat-10 { background-color: #E8E8E8 !important; }
.cat-2 b span,
.cat-4 b span,
.cat-6 b span,
.cat-8 b span ,
.cat-10 b span { border-color: transparent transparent transparent #E8E8E8 !important; }
.I-CatCont { display: none; position: absolute; left: 150px; border-top: 1px solid #5F5F5F; background-color: #515151; padding: 2px 10px 3px 10px; width: 110px; z-index: 100; }
.I-CatCont-bd { word-wrap: break-word; word-break: break-all; display: none; }
.I-CatCont-bd a { display: inline-block; *display: inline; *zoom: 1; margin: 4px 10px; color: #fff; }
.I-CatCont-bd a:hover { color: #eee; text-decoration: underline; }
.I-CatCont-bd .hot { color: #FB6372; }
.I-CatCont-bd .hot:hover { color: #FB6372; text-decoration: underline; }
/*--- 商品推销 ---*/
.I-promo { height: 305px; margin-bottom: 0; margin: 10px 10px 0 10px; background-color: #eee; }
#slider { float: left; width: 100%; height: 100%; overflow: hidden; position: relative; }
#slider .cont { position: absolute; width: 100%; height: 100%; }
#slider .cont li { width: 100%; height: 100%; overflow: hidden; }
#slider .cont img { width: 100%; height: 100%; }
#slider .nav { position: absolute; bottom: 10px; right: 15px; z-index: 10; }
#slider .nav li { background-color: #000; color: #FFFFFF; cursor: pointer; float: left; font-size: 0; height: 8px; line-height: 0; margin-right: 4px; width: 24px; opacity: 0.3; filter: alpha(opacity=30); }
#slider .nav .cur { background-color: #CC0001; opacity: 1; filter: alpha(opacity=100); }
/*--- 会员 ---*/
.I-member { height: 70px; margin-top: 10px; border: 1px solid #eee; font-size: 12px; color: #666; text-align: center; }
.I-member p { margin-top: 4px; }
.I-member .memberMsg { margin: 1px 10px; }
.I-member .memberMsg li { width: 50%; padding: 2px 0; float: left; text-align: left; }
.I-member .memberMsg li b,
.I-member .memberMsg li em { font-weight: bold; }
.I-member .memberMsg li em { color: #F2273A; }
.I-member .memberMsg li a:hover { color: #cc0000; text-decoration: underline; }
.I-member .memberMsg .goto-myYL { font-family: \5b8b\4f53; width: 100%; text-align: right; font-weight: bold; }
.I-member .memberMsg .goto-myYL a { color: #cc0000; padding-left: 16px; }
.I-member-islogin { border-top: 2px solid #FF6666; height: 69px; }
.I-member-icon { display: inline-block; *display: inline; *zoom: 1; width: 34px; height: 27px; vertical-align: middle; }
.I-member-btnLogin,
.I-member-btnRegister { display: inline-block; *display: inline; *zoom: 1; width: 60px; height: 30px; padding-left: 40px; line-height: 30px; font-size: 14px; color: #fff; background-color: #CC0000; font-weight: bold; text-align: left; }
.I-member-btnLogin:hover,
.I-member-btnRegister:hover { background-color: #FF4354; text-decoration: none; color: #fff; }
.I-member-btnRegister { margin-left: 18px; }
/*--- 公告 ---*/
.I-notice { height: 113px; margin-top: 10px; border: 1px solid #eee; border-top: none; }
.I-notice-hd { padding-top: 4px; text-align: center; border-top: 1px solid #d5d5d5; background-color: #eee; margin-bottom: -1px; *zoom: 1; *position: relative; }
.I-notice-hd a { float: left; margin-left: 7px; width: 68px; height: 24px; line-height: 24px; border: 1px solid #eee; border-bottom-width: 0; }
.tab-nav-curItem { border: 1px solid #d5d5d5 !important; border-bottom-width: 0 !important; font-weight: 700; background-color: #fff; }
.I-notice-panel { padding: 8px 8px 0 0; }
.I-notice-panel li a { display: block; padding-left: 20px; line-height: 23px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; _zoom: 1; _width: 210px; }
/*--- 团购广告位 ---*/
.I-groupBuyingAd { height: 100px; margin-top: 10px; background-color: #FAFAFA; position: relative; }
.I-groupBuyingAd-prev,
.I-groupBuyingAd-next { width: 15px; height: 30px; position: absolute; cursor: pointer; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; top: 0; background-color: #bbb;top: 50%;margin-top: -15px;display: none;opacity:0.6;filter: alpha(opacity=60);}
.I-groupBuyingAd-prev { left: 0px; }
.I-groupBuyingAd-prev i,
.I-groupBuyingAd-prev b { position: absolute; top: 50%; left: 5px; margin-top: -9px; }
.I-groupBuyingAd-prev i { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent #333 transparent transparent; border-style: dashed solid dashed dashed; border-width: 9px 5px 9px 0; }
.I-groupBuyingAd-prev b { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent #bbb transparent transparent; border-style: dashed solid dashed dashed; border-width: 9px 5px 9px 0; left: 6px; }
.I-groupBuyingAd-next { right: 0px; }
.I-groupBuyingAd-next i,
.I-groupBuyingAd-next b { position: absolute; top: 50%; right: 5px; margin-top: -9px; }
.I-groupBuyingAd-next i { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #333; border-style: dashed dashed dashed solid; border-width: 9px 0 9px 5px; }
.I-groupBuyingAd-next b { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #bbb; border-style: dashed dashed dashed solid; border-width: 9px 0 9px 5px; right: 6px; }
.I-groupBuyingAd-cont { width: 250px; height: 100%; overflow: hidden; }
.I-groupBuyingAd-cont li { float: left; }
.I-groupBuyingAd-cont img { width: 250px; height: 100px; }
/*--- 网站实力信息模块 ---*/
.I-strength { margin-top: 10px; }
.I-strength li { width: 250px; float: left; height: 85px; }
.I-strength li p { padding-left: 90px; margin-top: 25px; border-left: 1px solid #DCDCDC; color: #666; }
.I-strength li p strong { font-size: 14px; display: block; color: #000; }
.I-strength-1 p { border-left: none !important; }
/*--- 新品上线、预告 ---*/
.I-col-new { margin-top: 10px; border: 1px solid #E4E4E4; }
.I-col-new-bd { height: 40px; position: relative; background-color: #F7F7F7; border-bottom: 1px solid #E4E4E4; }
.I-col-new-tabs { position: absolute; z-index: 1; }
.I-col-new-tabs a { cursor: pointer; font-size: 14px; font-weight: bold; text-align: center; padding-top: 10px; color: #888; width: 107px; height: 30px; float: left; }
.I-col-new-tabs a:hover { color: #888; }
.I-col-new-tabs .I-col-new-curItem { color: #333; height: 31px; background-color: #FFF; border-right: 1px solid #E4E4E4; border-left: 1px solid #E4E4E4; }
.I-col-new-tabs .I-col-new-curItem:hover { color: #333; }
.I-col-new-more { position: absolute; right: 10px; top: 11px; color: #888; font-family: \5b8b\4f53; }
.I-col-new-content { position: relative; width: 994px; height: 233px; padding: 0 2px; overflow: hidden; }
.I-col-new-content li { width: 198px; height: 233px; float: left; border-right: 1px solid #FFF; }
.I-col-new-content li img { width: 187px; height: 187px; margin: 5px auto; display: block; }
.I-col-new-prev,
.I-col-new-next { width: 20px; height: 45px; top: 50%; margin-top: -23px; position: absolute; background-color: #666; cursor: pointer; display: none; }
.I-col-new-prev { left: 0; }
.I-col-new-prev i,
.I-col-new-prev b { position: absolute; top: 50%; left: 50%; margin-top: -14px; margin-left: -4px; }
.I-col-new-prev i { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent #FFF transparent transparent; border-style: dashed solid dashed dashed; border-width: 14px 8px 14px 0; }
.I-col-new-prev b { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent #666 transparent transparent; border-style: dashed solid dashed dashed; border-width: 14px 8px 14px 0; margin-left: -3px; }
.I-col-new-next { right: 0; }
.I-col-new-next i,
.I-col-new-next b { position: absolute; top: 50%; left: 50%; margin-top: -14px; margin-left: -4px; }
.I-col-new-next i { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #FFF; border-style: dashed dashed dashed solid; border-width: 14px 0 14px 8px; }
.I-col-new-next b { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #666; border-style: dashed dashed dashed solid; border-width: 14px 0 14px 8px; margin-left: -5px; }
.I-col-new-price { text-align: center; margin-top: 7px; }
.I-col-new-price span,
.I-col-new-price em,
.I-col-new-price strong { color: #333; vertical-align: text-bottom; }
.I-col-new-price span { display: inline-block; *display: inline; *zoom: 1; position: relative; padding: 2px 5px; color: #FFF; margin-right: 4px; background-color: #F1273A; }
.I-col-new-price span i { position: absolute; right: -4px; top: 50%; margin-top: -4px; width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #f1273a; border-style: dashed dashed dashed solid; border-width: 4px 0 4px 4px; }
.I-col-new-price em { font-size: 14px; font-family: 'Microsoft YaHei'; }
.I-col-new-price strong { font-size: 16px; font-family: Arial; font-weight: normal; }
.placeholder{width: 188px !important;height: 223px !important;margin:5px;_display: inline; background: url("../../images/www/goods_placeholder.jpg") no-repeat center center #E9E9E9;}
/*--- 可变色选项卡 ---*/
.I-tab { border: 1px solid #E4E4E4; margin-top: 10px; }
.I-tab-hd { height: 38px; border-bottom: 3px solid #F35866; }
.I-tab-tit { float: left; font-size: 14px; font-weight: bold; display: inline; margin: 9px 0 0 12px; color: #333333; }
.I-tab-nav { float: right; _display: inline; margin: 5px 10px 0 0; cursor: default; }
.I-tab-nav a { float: left; _display: inline; margin-right: 5px; font-size: 14px; color: #333; height: 27px; padding: 6px 15px 0 15px; background-color: #FFF; }
.I-tab-nav a:hover { text-decoration: none; color: #333; }
.I-tab-navCur { background-color: #F35866; color: #FFF !important; font-weight: bold; }
.I-tab-navCur:hover { text-decoration: none; color: #FFF; }
.I-tab-bd { padding: 5px 5px 0 5px; position: relative; }
.I-tab-panel { display: none; }
.I-col { height: 477px; overflow: hidden; }
.I-col li { height: 228px; width: 187px; padding: 5px; float: left; border-left: 1px dashed #E4E4E4; border-bottom: 1px dashed #E4E4E4; overflow: hidden; }
.I-col li img { width: 187px; height: 187px; }
.I-col .I-col-focus { width: 384px; height: 467px; border-left: none; }
.I-col .I-col-focus img { width: 384px; height: 384px; }
.I-col-mark { width: 988px; height: 10px; overflow: hidden; top: 0; left: 0; background-color: #fff; position: absolute; }
.I-col-info a { font-size: 12px; line-height: 15px; color: #666; display: block; height: 15px; overflow: hidden; }
.I-col-info .price { font-size: 20px; font-weight: normal; font-family: 'Microsoft YaHei'; color: #F1273A; font-weight: bold; }
.I-col-info .price i { font-size: 16px; font-style: normal; }
.I-col-info .price em { font-size: 16px; }
.I-col-info .price span { font-weight: normal; font-size: 12px; color: #b9b9b9; text-decoration: line-through; }
.I-col-focus .I-col-info a { font-size: 16px; line-height: 20px; height: 40px; }
.I-col-focus .I-col-info .cost { display: inline-block; *display: inline; *zoom: 1; position: relative; padding: 2px 10px; color: #FFF; margin-right: 4px; font-size: 16px; background-color: #F1273A; vertical-align: text-bottom; }
.I-col-focus .I-col-info .cost b { position: absolute; right: -6px; top: 50%; margin-top: -6px; width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #f1273a; border-style: dashed dashed dashed solid; border-width: 6px 0 6px 6px; }
.I-col-focus .I-col-info .price { font-size: 28px; font-weight: bold; }
.I-col-focus .I-col-info .price i { font-size: 18px; }
.I-col-focus .I-col-info .price em { font-size: 18px; }
.I-col-focus .I-col-info .price span { font-size: 18px; }
.I-colR li { float: right; border-left: none; border-right: 1px dashed #E4E4E4; border-bottom: 1px dashed #E4E4E4; }
.I-colR li img { width: 187px; height: 187px; }
.I-colR .I-col-focus { border-right: none; }
/*--- 颜色样式 ---*/
.I-tab-F35866 .I-tab-hd { border-bottom: 3px solid #F35866; }
.I-tab-F35866 .I-tab-navCur { background-color: #F35866; }
.I-tab-333333 .I-tab-hd { border-bottom: 3px solid #333333; }
.I-tab-333333 .I-tab-navCur { background-color: #333333; }
.I-tab-B23F89 .I-tab-hd { border-bottom: 3px solid #B23F89; }
.I-tab-B23F89 .I-tab-navCur { background-color: #B23F89; }
.I-tab-534748 .I-tab-hd { border-bottom: 3px solid #534748; }
.I-tab-534748 .I-tab-navCur { background-color: #534748; }
.I-tab-FA9716 .I-tab-hd { border-bottom: 3px solid #FA9716; }
.I-tab-FA9716 .I-tab-navCur { background-color: #FA9716; }
.I-tab-1773C9 .I-tab-hd { border-bottom: 3px solid #1773C9; }
.I-tab-1773C9 .I-tab-navCur { background-color: #1773C9; }
.I-tab-AE6823 .I-tab-hd { border-bottom: 3px solid #AE6823; }
.I-tab-AE6823 .I-tab-navCur { background-color: #AE6823; }
.I-tab-7F0E18 .I-tab-hd { border-bottom: 3px solid #7F0E18; }
.I-tab-7F0E18 .I-tab-navCur { background-color: #7F0E18; }
.I-tab-E11251 .I-tab-hd { border-bottom: 3px solid #E11251; }
.I-tab-E11251 .I-tab-navCur { background-color: #E11251; }
/*--- 底部长条广告 ---*/
.I-gg { margin-top: 10px; }
.I-gg img { width: 1000px; height: 90px; }
/*--- 其它信息模块 ---*/
.I-order { margin-top: 10px; }
.I-order .star{font-size: 18px;font-family: \5FAE\8F6F\96C5\9ED1;}
/*--- 晒单达人 ---*/
.expertReport { width: 386px; float: right; _display: inline; margin-left: 15px;}
.expertReport-hd { height: 40px; background-color: #F35866; }
.expertReport-tit { color: #fff; font-size: 16px; font-weight: bold; padding: 7px 0 0 10px; }
.expertReport-more { float: right; font-size: 12px; font-family: \5b8b\4f53; color: #fff; margin: 11px 10px 0 0; }
.expertReport-more:hover{color: #fff; text-decoration: underline;}
.expertReport-bd { border: 1px solid #E4E4E4; border-top: none; padding: 16px 5px; width: 374px;height: 347px; overflow: hidden;}
.expertReport-bd li { height: 347px; width: 177px; padding: 0 5px; float: left; }
.expertReport-pic{ width:177px; height:236px; overflow:hidden; display:table-cell; vertical-align:middle; text-align:center; *display:block; *font:206px/1em Arial; }
.expertReport-pic img{ max-height:236px; max-width:177px; vertical-align:middle; }
.expertReport-bd .report-tit { width: 100%; display: block; height: 20px; color: #333; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.expertReport-bd .report-comment { color: #333; display: block; height: 40px; overflow: hidden; margin: 3px 0 15px; }
.expertReport-bd .report-comment strong { font-size: 14px; }
.expertReport-bd .lookGoods { float: left; background-color: #F35866; color: #FFF; padding: 4px 14px; }
.expertReport-bd .lookZone { float: left; background-color: #333; color: #FFF; padding: 4px 10px; }
.expertReport-bd .lookGoods:hover,.expertReport-bd .lookZone:hover{color: #fff;text-decoration: none;}
/*--- 优质商家 ---*/
.quality { width: 597px; height: 240px; float: right; border: 1px solid #E4E4E4; overflow: hidden; _display: inline; }
.quality-hd { background-color: #F0F0F0; border-bottom: 1px solid #E4E4E4; height: 38px; }
.quality-tit { color: #f2273a; font-size: 16px; font-weight: bold; padding: 7px 0 0 10px; }
.quality-bd ul { width: 600px; overflow: hidden; }
.quality-bd ul li { margin-left: -1px; margin-top: -1px; width: 189px; height: 90px; padding: 5px; float: left; border: 1px solid #E4E4E4; text-align: center; overflow: hidden; }
.quality-bd ul li img { width: 180px; height: 90px; }
/*--- 划算达人 ---*/
.expertCost { width: 596px; margin-top: 10px; height: 166px; float: right; _display: inline; border: 1px solid #E4E4E4; }
.expertCost-hd { height: 38px; position: relative; }
.expertCost-hdInner { width: 598px; height: 36px; position: absolute; top: -1px; left: -1px; border-bottom: 3px solid #F35866; }
.expertCost-hdInner a { float: left; color: #333; height: 28px; padding: 8px 25px 0; font-size: 14px; cursor: default; font-weight: bold; }
.expertCost-navCur { color: #FFF !important; background-color: #F35866; }
.expertCost-bd{width: 596px;height: 128px;overflow: hidden;}
.expertCost-panel { padding: 8px 10px; }
.expertCost-panel li { float: left; width: 20%; overflow: hidden; }
.expertCost-name { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.expertCost-name em { display: inline-block; width: 19px; line-height: 18px; margin-right: 5px; text-align: center; color: #FFF; background-color: #c00; border-radius: 3px; }
.expertCost-name a { color: #666; }
.expertCost-name a:hover { text-decoration: underline; }
.expertCost-avatar { display: block; width: 64px; height: 64px; overflow: hidden; padding: 6px; padding-left: 0; }
.expertCost-avatar img { width: 64px; }
.expertCost-ft { color: #666; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.expertCost-ft span { color: #F2273A; }
/*省钱达人元素下移10个像素单位*/
.pennysaver li{margin-top: 10px;}
/*--- 帮助中心模块 ---*/
.helper { *zoom: 1; }
.helper:before,
.helper:after { content: ""; display: table; }
.helper:after { clear: both; }
.helper { margin-top: 10px; padding: 15px 0; background-color: #F0F0F0; border-top: 1px solid #C0C0C0; }
.helper li { float: left; width: 25%; overflow: hidden; }
.helper b,
.helper a { display: block; margin-left: 10px; color: #666; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.helper b { padding-left: 25px; margin-bottom: 8px; font-weight: bold; font-family: \5FAE\8F6F\96C5\9ED1; font-size: 16px; }
.helper a { padding-left: 20px; line-height: 2.2; }
.helper a:hover { color: #EA5900; }
/*--- 配合图片懒加载 ---*/
.I-groupBuyingAd img,
.I-col-new img,
.I-tab img,
.I-gg img,
.I-order img { background: url("../../images/www/loading.gif") no-repeat 50% 50%; }
/*--- 众划算流程动画 ---*/
#shs_flow_view li,
#shs_flow_close { background: url(../../images/www/shs_flow.png) no-repeat; }
/*--- 底部商品上线时间提示横幅 ---*/
body { _background-image: url(about:blank); _background-attachment: fixed; position: relative; }
.online-remind { width: 100%; height: 90px; position: fixed; left: 0px; bottom: 0px; right: 0px; _position: absolute; _bottom: auto; display: none; background-color: rgba(0, 0, 0, 0.3); -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c000000', endColorstr='#4c000000'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c000000', endColorstr='#4c000000'); *zoom: 1; z-index: 999; }
.online-remind-close,
.online-remind-info,
.online-remind-btn,
.online-remind-qrcode { background: url(../../images/www/online_remind_sprite.png) no-repeat 0 0; _background: url(../../images/www/online_remind_sprite_png8.png) no-repeat 0 0; }
.online-remind-close { width: 22px; height: 22px; position: absolute; top: 5px; right: 5px; cursor: pointer; background-position: -627px -7px; }
.online-remind-content { width: 1000px; margin: auto; }
.online-remind-info { width: 525px; height: 68px; background-position: 0 -76px; float: left; display: inline; margin: 11px 0px 11px 0px; }
.online-remind-btn { width: 141px; height: 35px; background-position: -9px -7px; float: left; display: inline; cursor: pointer; margin: 28px 0px 27px 30px; }
.online-remind-qrcode { width: 168px; height: 55px; background-position: -15px -162px; float: right; display: inline; margin: 18px 0px 17px 0px; }