.hide{ display:none !important; }

/*--- sprite ----*/
.new-tip,.flow-session li a i{ background: url("../../images/www/list_session_sprite.png") no-repeat; }
.new-tip{ background-position:0 -312px; }
.flow-session li a i{background-position: center 0;}
.flow-session li a:hover i{background-position: center -26px;}
.flow-session-now i{background-position: center -234px !important;}
.flow-session-now:hover i{background-position: center -234px !important;}
.flow-session-current i{background-position: center -52px !important;}
.flow-session-current:hover i{background-position: center -52px !important;}
.flow-session-first a i{background-position: center -78px !important;}
.flow-session-first a:hover i{background-position: center -104px !important;}
.flow-session-first .flow-session-now i{background-position: center -260px !important;}
.flow-session-first .flow-session-now:hover i{background-position: center -260px !important;}
.flow-session-first .flow-session-current i{background-position: center -130px !important;}
.flow-session-first .flow-session-current:hover i{background-position: center -130px !important;}
.flow-session-last a i{background-position: center -156px !important;}
.flow-session-last a:hover i{background-position: center -182px !important;}
.flow-session-last .flow-session-now i{background-position: center -286px !important;}
.flow-session-last .flow-session-now:hover i{background-position: center -286px !important;}
.flow-session-last .flow-session-current i{background-position: center -208px !important;}
.flow-session-last .flow-session-current:hover i{background-position: center -208px !important;}

.categoryBar a, .pastActivity, .ingActivity, .sortBar a { background: url("../../images/www/list_sprite.png") no-repeat; _background: url("../../images/www/list_sprite_png8.png") no-repeat; }
.category-0 a { background-position: 34px 5px;}
.category-1 a { background-position: -70px 5px;}
.category-2 a { background-position: -168px 5px;}
.category-3 a { background-position: -267px 5px;}
.category-4 a { background-position: -368px 5px;}
.category-5 a { background-position: 32px -45px;}
.category-6 a { background-position: -72px -45px;}
.category-7 a { background-position: -168px -45px;}
.category-8 a { background-position: -270px -45px;}
.category-9 a { background-position: -368px -46px;}
.category-10 a { background-position: -368px -45px;}
.category-83 a { background-position: -368px -186px;}
.smartfloat .category-0 a { background-position: 34px -93px;}
.smartfloat .category-1 a { background-position: -70px -93px;}
.smartfloat .category-2 a { background-position: -168px -93px;}
.smartfloat .category-3 a { background-position: -267px -93px;}
.smartfloat .category-4 a { background-position: -368px -93px;}
.smartfloat .category-5 a { background-position: 32px -143px;}
.smartfloat .category-6 a { background-position: -72px -143px;}
.smartfloat .category-7 a { background-position: -164px -143px;}
.smartfloat .category-8 a { background-position: -270px -143px;}
.smartfloat .category-83 a { background-position: -368px -235px;}
.smartfloat .category-9 a { background-position: -368px -143px;}
.smartfloat .category-10 a { background-position: -368px -143px;}

/*.pastActivity { background-position: 0 -204px;}
.ingActivity { background-position: 0 -227px; }*/
.sort-down a { background-position: -101px -206px; }
.sort-up a { background-position: -175px -206px; }
.sort-curDown a { background-position: -239px -206px; }
.sort-curUp a { background-position: -296px -206px; }
/*====================================================*/
.main { }

/*----- 最新上线活动分场 -----*/
.new-tip{width: 963px; margin: 0 auto; margin-top: 10px; padding: 8px 0 8px 37px; height: 25px; font: 14px/1.8 \5FAE\8F6F\96C5\9ED1; color: #797979; }
.flow-online{width: 998px;margin: 0 auto;border: 2px solid #F1E3D7;height: 64px;background-color: #FBF7F7;margin-bottom:15px;font-family: \5FAE\8F6F\96C5\9ED1;}
.flow-online h4{float: left; width: 98px; height: 46px; color: #88602d; font-size: 18px ; font-weight: normal; padding-top: 18px; text-align: center; border-right: 1px dotted #F1E4E4; }
.flow-session3 li{width: 33.3%;*width: 33.2%;}
.flow-session4 li{width: 25%;*width: 24.9%;}
.flow-session5 li{width: 20%;*width: 19.9%;}
.flow-session6 li{width: 16.6%;*width: 16.5%;}
.flow-session7 li{width: 14.2%;*width: 14.1%;}
.flow-session{float: left; width: 899px; height: 100%; overflow: hidden; }
.flow-session li{text-align: center; color: #a58153; font-size: 14px; height: 100%; float: left; }
.flow-session li a i{margin-top: 8px;height: 26px;display: block;width: 100%;cursor: pointer;}
.flow-session-current em{color: #38974c !important;}

/*----- 分类 -----*/
.categoryBar {  border: 1px solid #CBCBCB; background-color: #fff;}
.categoryBar li { float: left; width: 9%; *width: 8.9%;}
.categoryBar a { display: block; padding-top: 30px; padding-bottom: 5px; cursor: pointer; text-align: center; color: #666; _zoom:1;
}
.categoryBar a:hover, .category-cur a { color: #c00; background-color: #FFF5F5; }
.categoryBar-wrap { width: 100%;}
/*智能浮动时*/
.smartfloat { /*智能浮动层*/
	width:100%; position: fixed; z-index: 9999; top:0; left: 0; _position: absolute;
	background-color:rgba(204,0,0,.85);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9CC0000,endColorstr=#D9CC0000);
}
body { _position: relative; _z-index:9999;}/*配合IE6那条番薯*/
.smartfloat .categoryBar { background-color: transparent; border-width:0; }
.smartfloat .categoryBar a { color:#fff;}
.smartfloat .categoryBar a:hover, .smartfloat .category-cur a {
	color: #fff;
	background-color: transparent;
	background-color: rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#40000000,endColorstr=#40000000); *zoom:1;
	*background-color:#c00;
}
/*----- 详细分类 -----*/
.list-cat{
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
}
.list-cat-wrap{margin: 13px;}
.list-cat dt{float: left;padding: 2px 5px; border-radius: 2px; margin-left: 10px; background-color: #6B6B6B; color: #FFF;}
.list-cat dd{
	float: left;padding: 2px 15px;
	border-left: 1px solid #E4E4E4;
}
.list-cat .cat-first{border-left: none;}
.list-cat .cat-select a{color: #990000;}
/*----- 排序 -----*/
.sortBar { float: left; padding-left: 20px; background-color: #fff;}
.sortBar li { float: left;}
.sortBar a { display: block; padding: 3px 18px 3px 12px; margin: 8px 3px; background-color: #fff; color:#666; border-radius: 2px;}
.sortBar a:hover, .sort-cur a { color: #fff; background-color: #c00 !important; }
.sort-default a{ background-image: none; padding-right: 12px;}
/*------ 折扣搜索 ------*/
.discount { margin-left: 3px;}
.discount span { display: inline-block; margin: 8px 0px; *margin: 4px 0px; padding: 3px 0; color: #666;}
.discount .count-text { width: 45px; height: 19px; *margin-top: 1px; border:1px solid #A9A9A9; outline: none; vertical-align: middle;}
.discount .element-box { position: relative; padding: 3px 5px; width: 106px;}
.discount .element-box.active { background-color: #EFECEB;}
.discount .btn-box { display: none; position: absolute; top: 26px; right: 0px; padding: 5px; width: 106px; background-color: #EFECEB; text-align: center;}
.discount .count-btn { margin: 5px 0px; width: 45px; height: 26px; border: 1px solid #D7D7D7; outline: none; border-radius: 3px; border-color: #D7D7D7; background-color: #EBEBEB; cursor: pointer; color: #666;}
.discount .empty { margin-right: 6px; }
.discount .count-btn:hover{ background-color: #f9f9f9; }
.discount .count-btn.abled {*border: none; border-color: #E64C4C; background-color: #E64C4C; color: #fff;}
.discount .count-btn.abled:hover { border-color: #c00; background-color: #c00; }
/*活动状态切换*/
.activityStatus { float: right; margin: 5px 15px 0 0; padding: 3px 5px; background: #e8e8e8; border-radius: 2px;}
.activityStatus a { display: inline-block; padding: 3px 5px; color: #333; border-radius: 2px;}
.activityStatus a:hover { background: #fff;}
.activityStatus-cur { background: #c00 !important; color: #fff !important;}

.sortBar-wrap { border: 1px solid #CBCBCB; border-top-color: #c00; margin-top: -1px;  background-color: #fff; }
.sortBar-wrap .paging { float: right; margin-top: 7px !important; }

/*---------------------------------------*/

/*goodsList内的模块*/
.goodsShow  {width: 278px; padding: 0 20px; overflow: hidden; border: 1px solid #ccc; background-color: #fff; }
.goodsShow:hover { border-color: #c00; }
.goodsShow-tit {font-weight: 700; line-height: 3; font-size: 14px; color: #333; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; _width:100%; }
.goodsShow-cont {  position: relative; width: 278px; }
.goodsShow-cont-pic { display: block; width: 278px; height: 278px; margin: 0 auto; overflow: hidden; }
.goodsShow-cont-pic img { width: 100%; height: 100%; }
.goodsShow-cont-yzcm,.goodsShow-cont-mpg,.goodsShow-cont-ssxd{
	display: block;
	width: 45px;
	height: 45px;
	background: url("../../images/www/goods_source.png") no-repeat;
	_background: url("../../images/www/goods_source_png8.png") no-repeat;
	position: absolute;
	top: -4px;
	right: 0;
}
.goodsShow-cont-yzcm{background-position: 0 0;}
.goodsShow-cont-mpg{background-position: 0 -45px;}
.goodsShow-cont-ssxd{background-position: 0 -90px;}
.goodsShow-cont-info {
	position: absolute;
	top:241px;
	width: 100%;
	line-height: 3;
	color: #fff;
	background-color: #000;
	opacity: 0.6;
	filter: Alpha(Opacity=60); /* ie5-8*/
	overflow: hidden;
}
.goodsShow-cont-info span {float: left; padding-left: 1em; }
.goodsShow-cont-info span.remain {float: right; padding-right:1em;  }
.goodsShow-cont-info em {font-family: Arial; }
.goodsShow-cont-buy { margin:10px 0; color: #333; overflow: hidden; }
.goodsShow-cont-buy span { float: left;}
.goodsShow-cont-buy em {font-size: 24px;color: #C00; }
.goodsShow-cont-buy a {float: right; line-height: 2; padding:0 1.2em; margin-top: 4px; border-radius: 4px; font-size: 14px; color: #fff; font-family: \5FAE\8F6F\96C5\9ED1; background-color: #c00; }
.goodsShow-cont-buy a:hover { background-color: #FF635D; _color:#fff;/*ie6 真无耻*/}
.goodsShow-cont-buy a.disable,
.goodsShow-cont-buy a.disable:hover { background-color: #909090;}

/*goodsList及其内的模块布局*/
.goodsList { width: 1000px; overflow: hidden;}
.goodsList ul {width: 1020px;}
.goodsList .goodsShow { float: left; margin-right: 20px; margin-top: 10px;}


.paging-center { margin-top: 30px; }

.interested{ margin-top: 10px; }
.interested h3{ font-size: 16px; font-weight: bold; color: #333; }
.horizonal{ margin-top: 5px; border: 1px solid #E4E4E4; overflow: hidden; }
.horizonal-hd{ height: 36px; background-color: #F7F7F7; border-bottom: 3px solid #CC0000; }
.horizonal-tit{ padding: 7px 10px 0; }
.horizonal-tit a{ font-size: 14px; font-weight: bold; color: #333; }
.horizonal-tit a:hover{ color: #333; text-decoration: underline; }
.horizonal-more{ float: right; font-family: \5b8b\4f53; margin: 10px 10px 0; }
.horizonal-bd{ margin: 0 2px; position: relative; overflow: hidden; width: 994px; height: 243px; }
.horizonal-bd li{ width: 198px; border-right: 1px solid #E4E4E4; height: 243px; float: left; overflow: hidden; }
.horizonal-bd li img { width: 187px; height: 187px; margin: 5px auto; display: block; }
.horizonal-price { text-align: center; margin-top: 7px; }
.horizonal-price span,
.horizonal-price em,
.horizonal-price strong { color: #333; vertical-align: text-bottom; }
.horizonal-price span { display: inline-block; *display: inline; *zoom: 1; position: relative; padding: 2px 5px; color: #FFF; margin-right: 4px; background-color: #F1273A; }
.horizonal-price span i { position: absolute; right: -4px; top: 50%; margin-top: -4px; width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #f1273a; border-style: dashed dashed dashed solid; border-width: 4px 0 4px 4px; }
.horizonal-price em { font-size: 14px; font-family: 'Microsoft YaHei'; }
.horizonal-price strong { font-size: 16px; font-family: Arial; font-weight: normal; }
.horizonal-prev,.horizonal-next{ width: 15px; height: 45px; top: 50%; margin-top: -23px; position: absolute; background-color: #F7F7F7; cursor: pointer; }
.horizonal-prev{ left: -2px; }
.horizonal-next{ right: -2px; }
.horizonal-prev i,.horizonal-prev b{ position: absolute; top: 50%; left: 50%; margin-top: -14px; margin-left: -4px; }
.horizonal-prev i{ width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; border-color: transparent #999 transparent transparent; border-style: dashed solid dashed dashed; border-width: 14px 8px 14px 0; }
.horizonal-prev b { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; border-color: transparent #f7f7f7 transparent transparent; border-style: dashed solid dashed dashed; border-width: 14px 8px 14px 0; margin-left: -3px; }
.horizonal-next i,
.horizonal-next b { position: absolute; top: 50%; left: 50%; margin-top: -14px; margin-left: -4px; }
.horizonal-next i { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #999; border-style: dashed dashed dashed solid; border-width: 14px 0 14px 8px; }
.horizonal-next b { width: 0; height: 0; line-height: 0; overflow: hidden; display: inline-block; *display: inline; *zoom: 1; border-color: transparent transparent transparent #f7f7f7; border-style: dashed dashed dashed solid; border-width: 14px 0 14px 8px; margin-left: -5px; }

.footer { margin-top: 100px;}
