a{
    cursor: pointer;
}
.hospital-detail{
    margin: 10px 0;
}
.hospital-detail div{
    display: inline-block;
    margin-left: 10px;
}
.hospital-detail span{
    color: #000000;
    font-weight: bold;
    margin-left: 5px;
}
.hospital-detail img{
    margin-left: 40px;
    width: 300px;
    height: 400px;
}