.widget-signUp{ position: absolute; width: 550px; height: 64px; top: -6px; right: 0; text-align: right; overflow: hidden; }
.widget-signUp-prize{ width: 70px; height: 34px; font-family: Arial; display: inline-block; *display: inline; *zoom: 1; color: #fff; padding-top: 30px; line-height: 1; text-align: center; background-image: url(../images/prize.png); vertical-align: top; }
.widget-signUp-title{ width: 150px; height: 40px; margin-top: 6px; margin-right: 15px; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; background: url(../images/title.png) no-repeat center center;}
.widget-signUp-title a{ display: block; width: 100%; height: 0; overflow: hidden; padding-top: 40px; line-height: 100%;  }
.widget-signUp-note{ display: inline-block; *display: inline; *zoom: 1; vertical-align: top; margin-top: 6px; margin-right: 15px; font-size: 14px; font-family:"\5FAE\8F6F\96C5\9ED1"; color: #464646; }
.widget-signUp-note i{ font-style: normal; color: #cc0000; font-size: 12px; }
.widget-signUp-note em{ font-size: 16px; color: #cc0000; font-family: Arial; font-weight: bold; }
.widget-signUp-button{ display: inline-block; *display: inline; *zoom: 1; padding: 8px 14px; vertical-align: top; margin-top: 10px; margin-right: 15px; border-radius: 3px; white-space: nowrap; color: #FFF; line-height: 1; background-color: #4ac29a; cursor: pointer; font-family:"\5FAE\8F6F\96C5\9ED1"; font-size: 14px; }
.widget-signUp-button:hover{ color: #FFF; text-decoration: none; background-color: #4BDB9B; }
.widget-signUp-button-disabled{ background-color: #a2a2a2; cursor: default; }
.widget-signUp-button-disabled:hover{ background-color: #a2a2a2; }

.widget-signUp-form{ color: #666; }
.widget-signUp-form dl { *zoom: 1; margin: 10px; }
.widget-signUp-form dl:before,.widget-signUp-form dl:after { display: table; content: ""; line-height: 0; }
.widget-signUp-form dl:after { clear: both; }
.widget-signUp-form dt{ float: left; width: 120px; text-align: right; }
.widget-signUp-form dd{ float: left; width: 235px; }
.widget-signUp-form .ui-form-text{ width: 160px; }