@charset "utf-8";
/*领取返现金*/
/*领取返现金滑动条*/
.newer-lead-content  .drawmoney-bar{
	background: url(../img/draw_bar.png) no-repeat;
}
.newer-lead-content  .drawmoney-help-step1{
	background-position: 0 0;
}
.newer-lead-content  .drawmoney-help-step2{
	background-position:1px -89px
}
.newer-lead-content  .drawmoney-help-step3{
	background-position: 0px -178px;
}
.newer-lead-content .newer-lead-bar .drawmoney-bar a{
	margin-left: 98px !important;
	_margin-left:96px;
}
.newer-lead-content .newer-lead-bar .drawmoney-bar a.first{
	margin-left: 146px !important;
	_margin-left:74px;
}
.newer-lead-content .newer-lead-bar .drawmoney-bar a.last{
	margin-left: 87px !important;

}


/*-----------------领取返现金滑动条-------------*/
.newer-lead-content  .checkmoney-help-bg2{
	background: url(../img/newer_bg_13.jpg) no-repeat center;
}
.newer-lead-content  .drawmoney-help-bg{
	background: url(../img/newer_bg_14.jpg) no-repeat center;
}
.newer-lead-content  .drawmoney-help-bg2{
	background: url(../img/newer_bg_15.jpg) no-repeat center;
}
.newer-lead-content  .drawmoney-help-bg3{
	background: url(../img/newer_bg_16.jpg) no-repeat center;
}
.newer-lead-content  .drawsuccess-help-bg{
	background: url(../img/newer_bg_17.jpg) no-repeat center;
}
.newer-lead-content .newer-mian-tip a.to-draw-icon{
	top:650px;
	right:0px;
	width:200px;
	height:180px;
	background: url(../img/to_draw.png) -16px -12px no-repeat;
}
.newer-lead-content .newer-mian-tip a.to-draw-icon:hover{
	background-position:-220px  -12px 
}
.newer-lead-content  .newer-mian-tip  .checkmoney-pro-tip{
	top:-1px;
	left: 538px;
	width:325px;
	height:121px;
	background: url(../img/draw_money_1.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip .checkmoney-pro-a{
	right:47px;	
	width: 80px;
	height: 30px;
}
.newer-lead-content  .newer-mian-tip  .checkmoney2-pro-tip{
	top:0px;
	right: 70px;
	width:349px;
	height:135px;
	background: url(../img/draw_money_2.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip .checkmoney2-pro-a{
	right:145px;
	width: 60px;
	height: 30px;
}
.newer-lead-content  .newer-mian-tip  .checkmoney2-peop{
	top:241px;
	left: 324px;
	width:394px;
	height:89px;
	background: url(../img/draw_money_3.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip  .checkmoney2-peop-a{
	top: 21px;
	left: 3px;
	width: 88px;
	height: 52px;
}
.newer-lead-content  .newer-mian-tip  .drawmoney-pro-tip{
	top:262px;
	right: 45px;
	width:338px;
	height:185px;
	background: url(../img/draw_money_4.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip  .drawmoney-peop{
	top:34px;
	right: 224px;
	width:100px;
	height:66px;
	background: url(../img/draw_money_5.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip  .drawmoney-pro-a{
	top: 52px;
	left: 6px;
	width: 100px;
	height: 48px;
}
.newer-lead-content  .newer-mian-tip  .drawmoney2-pro-tip{
	top:376px;
	right: 96px;
	width:856px;
	height:313px;
	background: url(../img/draw_money_6.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip  .drawmoney2-peop{
	top:677px;
	right: 503px;
	width:284px;
	height:154px;
	background: url(../img/draw_money_7.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip  .drawmoney2-peop-a{
	top: 33px;
	left: 4px;
	width: 100px;
	height: 46px;
}
.newer-lead-content  .newer-mian-tip  .drawmoney3-pro-tip{
	top:421px;
	right: 490px;
	width:413px;
	height:204px;
	background: url(../img/draw_money_8.png) no-repeat;

}
.newer-lead-content  .newer-mian-tip  .drawmoney3-pro-a{
	top: 89px;
	left: 143px;
	width: 100px;
	height: 27px;
}
.newer-lead-content  .newer-mian-tip  .drawmoney3-peop{
	top:348px;
	right: 132px;
	width:353px;
	height:278px;
	background: url(../img/draw_money_9.png) no-repeat;

}
.newer-lead-content  .newer-mian-tip  .drawsuccess-pro-tip{
	top:249px;
	right: 50%;
	width:875px;
	height:93px;
	background: url(../img/draw_money_10.png) no-repeat;
	margin-right: -437px;
}

.newer-lead-content  .newer-mian-tip  .drawsuccess-peop{
	top:348px;
	right: 50%;
	width:349px;
	height:255px;
	background: url(../img/draw_money_11.png) no-repeat;
	margin-right: -174px;
}

.newer-lead-content .newer-mian-tip  .remind{
	display: block;
	width: 174px;
	font:14px/20px 'STSong';
	color: #000;
	margin: 50px 15px;
}
.newer-lead-content .newer-mian-tip  .link-index{
	margin:70px 0 0 113px;

}
.newer-lead-content .newer-mian-tip  .link-index a{
	position: relative;
	display: inline;
	color: #0066ff
}
.newer-lead-content .newer-mian-tip  .link-index a:hover{
	text-decoration: underline;
}	

/*--------领取返现金------*/