.m-download,
.m-intro .hd .tt .crt,
.u-btn {
  background: url(../img/w.sprite.png) no-repeat;
}
.m-intro .hd .tt ul li {
  background: url(../img/w.intro_sprite.png) center 0 no-repeat;
}
body {
  min-width: 1200px;
}
.g-hd {
  height: 124px;
  background-color: #cc0000;
  border-bottom: 1px solid #ac0000;
}
.g-bd {
  color: #fff;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.g-wrap {
  width: 1200px;
  margin: 0 auto;
}
.u-btn {
  width: 197px;
  height: 62px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-indent: -9999px;
}
.u-btn-a {
  background-position: -4px -376px;
}
.u-btn-i {
  background-position: -4px -455px;
}
.m-logo {
  margin-top: 40px;
  width: 410px;
  height: 61px;
  float: left;
}
.m-logo span {
  display: none;
}
.m-logo a {
  display: block;
  width: 483px;
  height: 60px;
  *height: 0;
  *padding-top: 60px;
  overflow: hidden;
  *background: url('http://static.zhonghuasuan.com/images/www/header_sprite.png') no-repeat 0 0;
}
.m-logo a:before {
  content: url('http://static.zhonghuasuan.com/images/www/header_sprite.png');
}
.m-nav {
  float: right;
  margin-top: 73px;
}
.m-nav a {
  font-family: "\5FAE\8F6F\96C5\9ED1";
  float: left;
  line-height: 13px;
  color: #fff;
}
.m-nav a:hover {
  text-decoration: underline;
}
.m-nav .sep {
  float: left;
  border-left: 1px solid #f3d4d4;
  border-right: 1px solid #d96767;
  height: 13px;
  width: 0;
  margin: 0 5px;
}
.m-banner {
  height: 540px;
  background-color: #f5702b;
}
.m-bannerImg {
  width: 710px;
  height: 463px;
  margin-left: -147px;
  padding-top: 23px;
  position: relative;
  overflow: hidden;
}
.m-bannerImg .z-show {
  position: absolute;
  bottom: 0;
  left: 0;
}
.m-bannerImg img {
  display: block;
}
.m-download {
  width: 650px;
  height: 360px;
  position: absolute;
  right: 35px;
  top: 90px;
  background-position: -4px -1px;
}
.m-download .qrcode {
  width: 159px;
  height: 159px;
  position: absolute;
  left: 14px;
  bottom: 10px;
}
.m-download .pos {
  margin-top: 270px;
  margin-left: 180px;
}
.m-download .pos p {
  float: left;
  margin-left: 37px;
  font-size: 15px;
}
.m-download .pos p span {
  display: block;
  margin-top: 5px;
  margin-left: 4px;
}
.m-download .pos p em {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 1px 5px;
  margin-right: 3px;
  line-height: 1;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.m-download .u-btn {
  display: block;
}
.m-intro .hd {
  height: 157px;
}
.m-intro .hd .tt {
  height: 157px;
  background-color: #f26d28;
  width: 100%;
}
.m-intro .hd .tt ul {
  overflow: hidden;
}
.m-intro .hd .tt li {
  width: 33%;
  float: left;
  height: 157px;
}
.m-intro .hd .tt .browse {
  background-position: center 0;
}
.m-intro .hd .tt .buying {
  background-position: center -157px;
}
.m-intro .hd .tt .query {
  background-position: center -314px;
}
.m-intro .hd .tt .crt {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  margin-left: -10px;
  bottom: -10px;
  display: none;
  background-position: -4px -523px;
}
.m-intro .hd .fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.m-intro .bd .wrap div {
  height: 560px;
}
.m-intro .bd .browse {
  background: #ffb900 url(../img/w.browse.png) center 0 no-repeat;
}
.m-intro .bd .browse div {
  background: url(../img/w.browse.png) center 0 no-repeat;
}
.m-intro .bd .buying {
  background-color: #ff7475;
}
.m-intro .bd .buying div {
  background: url(../img/w.buying.png) center 0 no-repeat;
}
.m-intro .bd .query {
  background: #ad58bd url(../img/w.query.png) center 0 no-repeat;
}
.m-intro .bd .query div {
  background: url(../img/w.query.png) center 0 no-repeat;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.topbar-wrap {
  width: 1200px;
}
.footer {
  margin-top: 70px;
  border-top: 0;
}
.footer-bd,
.footer-ft {
  width: 1200px;
}
