.orderForm-tit { font-size: 14px;}
.orderForm-bd { padding: 15px 10px;}

.filter { margin-bottom: 15px;}
.filter select, .filter input { vertical-align: middle; }
.filter input[type="text"] { width: 180px;}
.filter select {height:26px; line-height:18px; padding:4px; _margin-bottom:2px; }

.orderForm-searchType {}
.orderForm-status { margin: 15px 0px 15px 0px;}
.orderForm-status a { display: inline; float:left; padding: 1px 5px; margin-right: 1px; color:#3266CC; border-radius: 4px; white-space: nowrap; cursor: pointer; }
.orderForm-status a:hover  { text-decoration: underline;}
.orderForm-statusR  {color: #ff0000;}
.orderForm-statusG  {color: #009966;}
.orderForm-statusBlack {color: #000;}
.orderForm-status-cur { color: #ffffff !important; background-color: #999999 !important; }
.orderForm-status-cur span  {color: #ffffff !important;}

.orderForm-statusTip { color: #999;}
.orderForm-bd .paging-center { margin-top: 15px;}
.paging .ui-form-text { width: 2em; text-align: center;}

.simpletooltip{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 15px;
	height: 15px;
	background-image: url(../../../images/user/seller/question.png);
	vertical-align: middle;
}
.m-tipfloor{
	position: fixed;
	top:0;
	left:0;
	z-index:5;
	width: 100%;
	height: 100%;
}
.m-tipfloor .msk{
	position: absolute;
	top:0;
	left:0;
	z-index:5;
	width: 100%;
	height: 100%;
	background-color:#000 ;
	opacity: 0.65;
	filter:alpha(opacity=65)
}
.m-tipfloor .tiptext{
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	width: 100%;
	font-family:'\5FAE\8F6F\96C5\9ED1';
	color:#fff;
	font-weight: bold;
	text-align: center;
	background-color: #dc4c4c;
}
.m-tipfloor .tipcon{
	position:absolute;
	z-index: 6;
	top:50%;
	left:50%;
	width: 545px;
	margin-left:-260px;
	margin-top:-115px;
	background: #fff;
}

.m-tipfloor .conMsg{
	font-size: 14px;
	color: #7a7a7a;
	padding: 30px 56px;
}

.conMsg .mainTip{
	line-height: 26px;
	font-family: '\5b8b\4f53';
}
.conMsg .little-t,.conMsg .hour,.conMsg .li-num{
	font-size: 14px;
	color: #dc4c4c;
	font-weight: 700;
	font-family: tahoma;
}
.conMsg .little-t{
	line-height: 40px;
 }
.conMsg .li-num{
	color: #7a7a7a;
}
.conMsg .u-bottom{
	margin-left: 145px;
	margin-top: 25px;
	overflow: hidden;
}

.u-bottom .btn1,.u-bottom .btn2{
	float: right;
	display: block;
	height: 25px;
	width: 100px;
 	font-size: 12px;
	text-align: center;
	line-height: 25px;
	border: 1px solid #dc4c4c;
	border-radius: 4px;
	margin-left: 20px;

}
.u-bottom .btn1{
	color: #dc4c4c;

}
.u-bottom .btn1:hover{
	border-color: #e37070;
	color: #e37070;

}
.u-bottom .btn2{
	color: #fff;
	background-color:#dc4c4c ;
}
.u-bottom .btn2:hover{
	border-color: #e37070;
	background-color: #e37070;
}

.u-quality{
	display: block; width: 72px; height: 15px; background: url(/common/img/icon/72x15_quality.png) 0 0 no-repeat; overflow: hidden; text-indent: -9999px; vertical-align: middle;
	margin: 0 auto;
}
