label { cursor: pointer; }
.txtW300 { width: 300px; }
.txtW80 { width: 80px;}
.txtHighlight { font-weight: 700; color:#c00;}
.loading { background: url(../../../images/user/loading.gif) no-repeat 50% 50%; }

.activity-tab{}
.activity-tab-item{width: 150px;text-align: center;float: left;height: 30px;line-height:30px;background-color: #eee;}
.activity-tab-itemCurrent{background-color: #F2273A;color: #fff;}

.activity { color: #4C4C4C; }
.activity-tit { font-size: 14px; }
.activity-bd { padding: 12px 0;}
.activity .ui-form-textRed { border-radius: 3px;}
.activity th { width: 10em; padding-right: 15px; text-align: right; font-weight: normal; }
.activity td { padding: 6px 0; word-break: break-all; word-wrap: break-word;}
.activity td .newadd{margin-top:5px;}
.activity .newadd .u-del{margin-left: 3px;color: #019cf6}
.goodsSource label, .activityTime label, .taobaokeTG label,.hasAppPrice label,.twoCode label{ margin-right:20px;}

/*--- 淘宝客推广 ---*/
.taobaokeTG p { line-height: 1.8;}
.taobaokeTG th { vertical-align:top; line-height:32px;}
/*--- 产品类型 ---*/
.goodsType td { padding-bottom: 12px;}
.goodsType th { padding-bottom: 6px;}
.goodsType select {height: 26px; line-height: 18px; padding: 4px; vertical-align: middle; }
/*--- 商品图片 ---*/
.goodsPic th { vertical-align: top;}
.goodsPic td { padding: 20px; border: 1px solid #ccc;}
.goodsPic-showArea li { float: left; margin-right: 15px; margin-top: 30px; *width: 102px;}
.goodsPic-showArea a { display: block;  width: 100px; height: 100px; border: 1px solid #ccc; overflow: hidden;}
.goodsPic-showArea img { max-width: 100%; _width:100px; }
.goodsPic-mainPic { margin-top: 0 !important; *width: 132px !important;}
.goodsPic-mainPic a { width: 130px; height: 130px; }
.goodsPic-mainPic img { max-width: 100%; _width:130px; }
.goodsPic-showArea p { margin-top: 12px; text-align: center;}
.goodsPic-showArea .del_img{width: 20px;height: 20px;background: url(../../../common/img/icon/20x20_delete.png) 0 0 no-repeat; position: absolute; top: -10px;right: -10px;overflow: hidden;text-indent: -9999px;cursor: pointer;}
.goodsPic-tip { margin-top: 20px; color: #808080;}
/*---温馨提示-----*/
.goods-prompts{ line-height:25px;}
.goods-prompts input{ vertical-align:middle;}
.goods-default-prompts{ margin-bottom: 5px; margin-top: 8px;}
/*--- 商品简介 ---*/
.goodsIntro th { vertical-align: top;}
.goodsIntro-cont { min-width: 450px; max-width: 644px; height: 150px; padding: 5px; resize:both; _width:450px; }
.goodsIntro-cont:focus { border:1px solid #FF818E;  box-shadow: 0 0 4px rgba(204,0,0,.6);}

/*--- 图片上传插件样式修改 ---*/
.activity .uploadify { margin: 0 auto;}
.activity .uploadify object { left: 0; top : 0; }
.activity .uploadify-queue { display: none;} 
.activity .uploadify-button { border-width:0; border-radius:3px;   }


.goodsAddTime div {margin-bottom: 10px;}
.goodsAddTime th { vertical-align: top;}
.goodsAddTime select {height: 23px; padding: 1px; }
.goodsAddTime a {color: #0000FF;}

/*帮助遮层*/
.activity-help{z-index: 10; position: absolute; width: 820px; top: 0; background-color: rgba(0,0,0,0.9); -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5000000', endColorstr='#e5000000'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5000000', endColorstr='#e5000000'); }
.activity-help-close{ font-family: Helvetica, STHeiti; _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino; color: #fff; font-size: 20px; width: 30px; height: 30px; position: absolute; top: 0; right: 0; background-color: #AC1C1C; text-align: center; }
.activity-help-close:hover{ background-color: #E04343; }
.activity-help-box{ width: 580px; padding: 20px; color: #666; margin: 40px auto 20px auto; border: 1px dotted #666; line-height: 30px; }
.activity-help-box h3{ color: #fff; font-size: 12px; font-weight: normal; }
.activity-help-box h3 em{ color: #cc0000; font-weight: bold; font-size: 16px; }
.activity-help-box p a{ color: #666; text-decoration: none; }
.activity-help-box p a:hover{ color: #666; text-decoration: underline; }
.activity-help-operate{ text-align: center; }
.activity-help-operate .ui-form-button{ margin: 0 10px; display: inline-block; *display: inline; *zoom:1; width: 60px; text-align: center; }