/*--- 确实支付 ---*/
.paying-body { padding: 12px;}

.ui-step { margin-bottom: 20px;}

.paying tfoot td { text-align: right; padding-right: 20px;}
.paying tfoot td strong { font-size: 24px; font-weight: 700px; padding:0 5px; color: #c00; font-weight: 700px;}
.paying tfoot .ui-form-button { margin-left: 10px;}
.paying .ps { float: left; margin-left: 15px;width: 445px;text-align: left;}
.paying .ps em { color:#c00; margin-left: 10px; }
.paying .explain { padding-left: 16px; margin-top: 20px; color:#999;}
