@charset "utf-8";
/*挑选商品模块*/
.newer-lead-content  .chose-help-bg{
	background: url(../img/newer_bg_6.jpg) no-repeat center;
}
.newer-lead-content  .newer-mian-tip  .login-tip{
	top: 0px;
	left: 290px;
	width: 107px;
	height:45px;
	background: url(../img/register_help_1.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip  .login-btn{
	top:178px;
	right: 160px;
	width: 378px;
	height:242px;
	background: url(../img/register_help_2.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip  .login-btn-a{
	width: 103px;
	height: 30px;
	top: 53px;
	left: 154px;
}
.newer-lead-content  .newer-mian-tip .find-pro-tip{
	top:150px;
	left:160px;
	width:210px;
	height:395px;
	background: url(../img/chose_pro_1.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip .find-peop{
	top:125px;
	left:340px;
	width:551px;
	height:246px;
	background: url(../img/chose_pro_2.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip .chose-pro-tip{
	top:326px;
	left:146px;
	width:330px;
	height:388px;
	background: url(../img/chose_pro_3.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip .chose-peop{
	top:211px;
	left:467px;
	width:687px;
	height:266px;
	background: url(../img/chose_pro_4.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip .scan-pro-tip{
	top:214px;
	right:100px;
	width:455px;
	height:306px;
	background: url(../img/scan_pro_1.png) no-repeat;
}
.newer-lead-content  .newer-mian-tip .scan-pro-a{
	bottom: 87px;
	left: 0px;
	width: 149px;
	height: 56px;
}
.newer-lead-content  .newer-mian-tip .scan-peop{
	top:575px;
	left:555px;
	width:290px;
	height:212px;
	background: url(../img/scan_pro_2.png) no-repeat;
}