@charset "utf-8";
/* list */
.list-category{margin:10px 20px; padding:5px 0; border-bottom:#dcdcdc solid 1px; display:inline-block;}
.list-category span{font-weight:bold; color:#cc0000;}
.list-category a{margin-right:10px;}
.list-category a:hover{color:#cc0000;}

.list-category-title h1{padding:0 10px; margin:0 auto; width:95%; color:#cc0000; line-height:35px; font-size:16px; border-bottom:#666 solid 2px;}

.list-enumeration p{font-size:14px; font-weight:bold; margin-bottom:10px;}
.list-enumeration ul li a{line-height:30px;}
.list-enumeration ul li a:hover{color:#cc0000;}

.list-search-result strong span{color:#cc0000; padding:0 3px;}
.list-search-result ul li{padding-bottom:20px; border-bottom:#dcdcdc dashed 1px; margin-bottom:20px; line-height:20px;}
.result-item a{line-height:30px;}
.result-item a:hover{color:#cc0000;}
.result-item p{text-indent:2em; color:#999;}

.result-info strong{display:block; margin:15px 0; float:left; font-size:14px; line-height:80px;}
.result-info span{width:90px; height:110px; display:block; background-image:url(../../images/help_center/global.png); background-repeat:no-repeat; text-indent:-99em; overflow:hidden; float:left;}

.icon-result-1{background-position:-215px -600px;}

.help-center-pagination{text-align:center; padding:10px 0;}
.help-center-pagination a{padding:3px 6px; margin:0 2px; color:#333; border:#333 solid 1px;}
.help-center-pagination a:hover,
.help-center-pagination .btn-page-highlight{border:#cc0000 solid 1px; color:#cc0000;}

.help-center-pagination .btn-page-prev,
.help-center-pagination .btn-page-next{border:#fff solid 1px; color:#333;}
.help-center-pagination .btn-page-prev:hover,
.help-center-pagination .btn-page-next:hover{border:#fff solid 1px; color:#cc0000;}
/* end list */