.bind-wangwang-tip{ color: #666; }
.bind-wangwang-tip dt{ font-weight: bold; color: #cc0000; float: left; width: 65px; }
.bind-wangwang-tip dd{ float: left; width: 723px; }
.bind-wangwang-tip dd em{ color: #cc0000; }
.bind-wangwang-tip dd span{ font-weight: bold; color: #cc0000; }

.bind-wangwang-left{ width: 350px; margin-top: 10px; float: left; background: #fff url(../../../images/user/buyer/arrow.png) 280px 20px no-repeat; }
.bind-wangwang-right{ width: 438px; margin-top: 10px; float: right; }
.bind-wangwang-user{ width: 275px; height: 94px; border: 1px dotted #d7d7d7; border-radius: 3px; }
.bind-wangwang-userAvatar{ width: 80px; height: 100%; float: left; }
.bind-wangwang-userAvatar img{ width: 60px; height: 60px; margin: 16px 10px; }
.bind-wangwang-userInfo{ width: 195px; height: 100%; float: left; color: #434343; }
.bind-wangwang-userInfo strong{ color: #333; line-height: 94px; }

.bind-wangwang-IDBox{ border: 1px dotted #d7d7d7; border-radius: 3px; margin-bottom: 10px; padding: 10px 0; }
.bind-wangwang-IDBox th,.bind-wangwang-IDBox td{ padding: 5px; }
.bind-wangwang-IDBox th{ width: 75px; color: #333; font-weight: normal; text-align: right; vertical-align: top; }
.bind-wangwang-IDBox td{ color: #666; }
.bind-wangwang-IDBox .ui-form-text{ width: 16em; }
.bind-wangwang-IDBox a{ color: #0099FF; }
.bind-wangwang-IDBox a:hover{ color: #0099FF; text-decoration: underline; }
.bind-wangwang-IDBox p{margin-bottom: 5px;}
.bind-wangwang-error{ display: none; }
.bind-wangwang-error td{ color: #FF3300 !important; }
.bind-wangwang-error span{ color: #333; }
.bind-wangwang-help{ vertical-align: top; text-align: right; }
.bind-wangwang-submit{ text-align: center; }