.editInfo { position: relative; padding: 20px; *zoom:1;}
.editInfo-hd { position: absolute; top:10px; left:20px; padding-right:14px; font-size: 14px; font-weight: 700; color: #3d3d3d; text-align: left; background-color: #fff;}
.editInfo-bd { table-layout: fixed; width: 100%; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4;}
.editInfo th { width: 60px; padding-right: 15px; text-align: right; color:#666; font-weight: normal;}
.editInfo thead tr { height: 20px;}
.editInfo tfoot tr { height: 15px;}
.editInfo tbody td{ padding: 3px 0;}
.editInfo-avatar { }
.editInfo-avatar th{ vertical-align: top; color:#666;}
.editInfo-avatarShow { display: inline-block; *zoom:1; *display: inline; width: 130px; height: 130px; line-height: 129px; background-color: #eee; color:#666; text-align: center;}
.editInfo-avatarBtn { padding: 3px 8px; *padding: 1.5px 4px; margin-left: 20px; vertical-align: bottom;  color:#666; cursor: pointer;}
.editInfo-avatar .avatarTip { display: inline-block; line-height: 2.6;}
.editInfo-avatar td { padding-bottom:20px !important; }
.editInfo .ui-form-text { width:220px;}
.editInfo-ft .ui-form-button { margin-left: 75px; margin-top: 25px; overflow: hidden; }

.avatarTip { color: #808080;}

