select {height: 26px; line-height: 18px; padding: 4px; vertical-align: middle; } 
.orderAppeal-tit { font-size: 14px;}
.orderAppeal-bd { padding: 15px 10px;}

.filter { margin-bottom: 15px;}
.filter select, .filter input { vertical-align: middle; }
.filter .ui-form-textDatetime { width: 160px;}
.filter select {height:26px; line-height:18px; padding:4px; _margin-bottom:2px; }
.appealStatus { float: left;}
.appealDatetime { float: right;}

.orderAppeal .paging-center { margin-top: 15px;}

/*----- “我要申诉” “回应申诉” “查看申诉”  “我要晒单” “操作记录” 弹框 (它们的HTML代码写在buyer/order.js里面)-----*/
.woyao-show,
.appealWin { max-height: 420px; _height:420px; min-width: 35em; _width:35em; max-width: 750px; overflow: auto;}

.appealWin-tit { white-space: nowrap; }

.woyao-show th,
.appealWin th { text-align: right; width: 6em; padding: 3px 8px 3px 0; font-weight: 700; font-family: \5FAE\8F6F\96C5\9ED1; }
.woyao-show td,
.appealWin td{ padding: 3px 0;}

.appealWin-proof th { vertical-align: top;}
.appealWin-proof p { color: #999;}

.add-proof,
.add-proof-disable { display: block; width: 5em; margin-top: 12px;  padding: .3em .6em; background-color: #1BB974; color: #fff; cursor: pointer; border-radius: 3px; white-space: nowrap; }
.add-proof:hover { background-color: #4bdb9b; }
.add-proof-disable,
.add-proof-disable:hover { background-color: #ccc; cursor: default; }

.appealWin-cont th { vertical-align: top;}
.appealWin-cont textarea,
.woyao-show textarea { padding: 5px; width: 210px; height: 86px; overflow: auto; border: 1px solid #ccc;}
.appealWin-cont textarea:focus,
.woyao-show textarea:focus { border-color:#FF818E; box-shadow: 0 0 3px rgba(204,0,0,.6);}

.appealWin .upload_img { margin-top: 8px; }
.appealWin .upload_img a { display: inline-block; background: #999; padding: 1px 6px 2px; border-radius: 2px; color: #fff; cursor: pointer;} 
.appealWin .upload_img a:hover { background: #bbb;} 

/*操作记录*/
.operate-log { max-width: 520px; _width: 520px; max-height: 420px; _height:420px; overflow: auto; }
