td { word-wrap: break-word; /*word-break: break-all; 这条威力太大*/ }
select { height: 26px; line-height: 18px; padding: 4px; vertical-align: middle; } 
.orderForm-tit { font-size: 14px;}
.orderForm-bd { padding: 15px 10px;}

.filter { margin-bottom: 15px;}

.orderForm-status {}
.orderForm-status a { display: inline-block; padding: 1px 5px; margin-right: 5px; color:#1BB974; border-radius: 4px; white-space: nowrap; cursor: pointer; } 
.orderForm-status a:hover  { text-decoration: none; background-color: #4BDB9B; color: #fff;}
.orderForm-status-cur { color: #fff !important; background-color: #1BB974 !important; }

.orderForm-searchType { margin-top: 15px;}
.orderForm-searchType input { vertical-align: middle; }
.orderForm-searchType input[type="text"] { width: 150px; }

.orderForm-statusTip { color: #999;}
.orderForm .paging-center { margin-top: 15px;}

/*----- “我要申诉” “回应申诉” “查看申诉”  “我要晒单” “操作记录” 弹框 (它们的HTML代码写在buyer/order.js里面)-----*/
.woyao-show,
.appealWin { max-height: 420px; _height:420px; min-width: 35em; _width:35em; max-width: 750px; overflow: auto;}

.appealWin-tit { white-space: nowrap; }

.woyao-show th,
.appealWin th { text-align: right; width: 6em; padding: 3px 8px 3px 0; font-weight: 700; font-family: \5FAE\8F6F\96C5\9ED1; }
.woyao-show td,
.appealWin td{ padding: 3px 0;}

.appealWin-proof th { vertical-align: top;}
.appealWin-proof p { color: #999;}

.add-proof,
.add-proof-disable { display: block; width: 5em; margin-top: 8px;  padding: .3em .6em; background-color: #1BB974; color: #fff; cursor: pointer; border-radius: 3px; white-space: nowrap; }
.add-proof:hover { background-color: #4bdb9b; }
.add-proof-disable,
.add-proof-disable:hover { background-color: #ccc; cursor: default; }

.appealWin-cont th { vertical-align: top;}
.appealWin-cont textarea,
.woyao-show textarea { padding: 5px; width: 210px; height: 86px; overflow: auto; border: 1px solid #ccc;}
.appealWin-cont textarea:focus,
.woyao-show textarea:focus { border-color:#FF818E; box-shadow: 0 0 3px rgba(204,0,0,.6);}

.appealWin .upload_img { margin-top: 8px; }
.appealWin .upload_img a { display: inline-block; background: #999; padding: 1px 6px 2px; border-radius: 2px; color: #fff; cursor: pointer;} 
.appealWin .upload_img a:hover { background: #bbb;} 

/*操作记录*/
.operate-log { max-width: 520px; _width: 520px; max-height: 420px; _height:420px; padding: 1px; overflow: auto; }
/*凭证*/
.proofCol a { display: inline-block; margin: 0 4px; white-space: normal; }

/*订单状态*/
.orderForm-status { margin: 15px 0px 15px 0px;}
.orderForm-status a { display: inline; float:left; padding: 1px 5px; margin-right: 1px; color:#3266CC; border-radius: 4px; white-space: nowrap; cursor: pointer; } 
.orderForm-status a:hover  { text-decoration: underline;}
.orderForm-statusR  {color: #ff0000;}
.orderForm-statusG  {color: #009966;}
.orderForm-statusBlack {color: #000;}
.orderForm-status-cur { color: #ffffff !important; background-color: #999999 !important; }
.orderForm-status-cur span  {color: #ffffff !important;}

/*总计模块*/
.orderForm-total{margin: 5px 0;line-height: 29px;}
.orderForm-total strong{background-color: #EBEBEB;padding: 4px 15px;margin-right: 5px;font-weight: normal;font-size: 16px;}
.orderForm-total em{color: #d35e00;margin-right: 5px;font-family: Arial;font-size: 18px;}

/*问号图标*/
.simpletooltip{display: inline-block; *display: inline; *zoom: 1;	 width: 15px; height: 15px; background-image: url(../../../images/user/buyer/question.png); vertical-align: middle;
}

/*搜索活动小图标*/
.u-icon-ssxd{
	position: absolute;
	width: 26px;
	height: 26px;
	top: 0;
	left: 0;
	background: url(../../../images/user/buyer/so.png) 0 0 no-repeat;
	text-indent: -9999px;
}