.placesClearRecord-tit { font-size: 14px;}
.placesClearRecord-bd { padding: 15px 10px;}

.placesClearRecord-search { margin-bottom: 15px;}
.placesClearRecord-search input { vertical-align: middle; }

.placesClearRecord .paging-center { margin-top: 15px;}
.paging .ui-form-text { width: 2em; text-align: center;}

/*搜索活动小图标*/
.u-icon-ssxd{
	position: absolute;
	width: 26px;
	height: 26px;
	top: 0;
	left: 0;
	background: url(../../../images/user/buyer/so.png) 0 0 no-repeat;
	text-indent: -9999px;
}