#wrapper{  width: 100%; overflow-x: hidden;  padding-top: 96px;}
/*=== main ===*/
#main{ width: 100%; background-color: #f8f8f8; position: relative; z-index: 1000; 
	box-shadow: #000 -7px 0 12px;
	-webkit-box-shadow: #000 -7px 0 12px;
	-moz-box-shadow: #000 -7px 0 12px;}

#main.activeState,#main.activeState #navigation ,#main.activeState #header{ left: 50%;}
#main.activeState+#sidebar{ left: 0;}

	/*= header =*/
			
	
	/*= navigation =*/
	#navigation{ height: 39px; border-top: 1px solid #DD0204; width: 100%; z-index: 1000;  position: fixed; top: 56px;left: 0;
		background-color: #C40403;
		background-image: -moz-linear-gradient(top,#CD0104,#C40403);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#CD0104),to(#C40403));
		background-image: -webkit-linear-gradient(top,#CD0104,#C40403);
		background-image: -o-linear-gradient(top,#CD0104,#C40403);
		background-image: linear-gradient(to bottom,#CD0104,#C40403);
		box-shadow: 0 1px 2px #666;
	}
		#navigation ul{ margin-top: 4px; padding-left: 4%;}
		#navigation li{ width: 32%;float: left; }
		#navigation li a{ display: block; box-sizing:border-box; height: 30px;  font-size: 16px; text-align: center; line-height: 30px; color: #fff; font-weight: bold;text-shadow:1px 1px 1px #740000;border: 1px solid #990100;
			border-left: none; 
			border-bottom-color: #D12121;
			-webkit-box-shadow: #A00000 0 1px 1px inset;
			-moz-box-shadow: #A00000 0 1px 1px inset;
			box-shadow: #A00000 0 1px 1px inset;}

		#navigation li:first-child a{ border-left:1px solid #990100;  border-radius: 5px 0 0 5px;}
		#navigation li:last-child a{ border-left: none; border-radius:0 5px 5px 0; }
		#navigation li a.active{ background-color: #B80000;}

	/*= content =*/
	#content{ padding:10px; z-index: 100; position: relative; }

		/* goods-item */
		.goods-item { position: relative; padding: 10px 0;  min-height: 84px; border-bottom: 1px solid #E5E5E5; border-top: 1px solid #fff; }
		.goods-item:first-child{ border-top: none;}
		/*.goods-item:last-child{ border-bottom: none;}*/

		.goods-item a.link-wrapper{ display: block; width: 100%; min-height: 84px; color:#444; }
		.goods-item a.link-wrapper:hover{ text-decoration: none;}
		.goods-item-pic{ position: absolute; width: 80px; height:80px; border: 2px solid #fff;
			-webkit-box-shadow: 0 1px 1px #aaa;
			-moz-box-shadow: 0 1px 1px #aaa;
			box-shadow: 0 1px 1px #aaa;}
		.goods-item-pic img{ height:80px; width: 80px;  }

		.goods-item-info{ padding-left: 90px; display: table-cell; overflow:hidden; }
		.goods-item-info h3{ font-size: 14px; font-weight: normal; max-height: 44px; overflow:hidden; }
		.goods-item-info p{ line-height: 1.7em; vertical-align: middle;}

		#content .footer{ text-align: center; border-top: 1px solid #fff; line-height: 50px;}
		#load-more{ cursor: pointer;}
	/*=  sorting =*/
	.sorting{ }
	.sorting ul{ height: 33px; border-bottom: 1px solid #D8D3CA; width: 100%;
			background-color: #E7E3DE;
			background-image: -moz-linear-gradient(top,#F1F1F2,#E7E3DE);
			background-image: -webkit-gradient(linear,0 0,0 100%,from(#F1F1F2),to(#E7E3DE));
			background-image: -webkit-linear-gradient(top,#F1F1F2,#E7E3DE);
			background-image: -o-linear-gradient(top,#F1F1F2,#E7E3DE);
			background-image: linear-gradient(to bottom,#F1F1F2,#E7E3DE);
	}
	.sorting li{ float: left; width: 25%; text-align: center;}
	.sorting li a{ display: block; border-right: 1px solid #D8D3CA; height: 33px; line-height: 33px; }
	.sorting li a:hover{ color: #333;  }
	.icon-sorting-time-default,.icon-sorting-time-up,.icon-sorting-time-down,.icon-sorting-popularity ,.icon-sorting-popularity-on,.icon-sorting-price-default,.icon-sorting-price-up,.icon-sorting-price-down{ background: url(/images/m/icons-sorting.png) no-repeat; -webkit-background-size: 25px 7px; background-size: 25px 7px; display: inline-block; height: 7px; width: 5px; vertical-align: middle; margin: 2px; }
	.icon-sorting-time-up,.icon-sorting-price-up{ background-position: -5px 0;}
	.icon-sorting-time-down,.icon-sorting-price-down{ background-position: -10px 0;}
	.icon-sorting-popularity{ background-position: -15px 0;}
	.icon-sorting-popularity-on{ background-position: -20px 0;}

/*=== sidebar ===*/
#sidebar {
	position: fixed;
	left: -50%;
	top: 0;
	z-index: 10;
	overflow-y: auto!important;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	width: 50%;
	text-align: center;
	background-color: #2F2F2F;
}
#sidebar dt h2{
	height: 55px;
	color:#fff;
	line-height: 55px;
	border-bottom: 1px solid #21211F;
	background-color: #212121;
}
#sidebar dd a{
	display: block;
	height: 40px;
	color:#CDCDCD;
	line-height: 40px;
	border-bottom: #222220 1px solid;
	border-top: 1px solid #3D3D3D;
}