a{
    cursor: pointer;
}
.doctor-detail{
    display: block;
    margin: 10px 0;
}
.doctor-detail span{
    font-weight: bold;
    color: #000000
}
.doctor-desc span{
    font-weight: bold;
    color: #000000;
}
.doctor-detail div{
    display: inline-block;
    width: 48%;
}
.doctor-cert-img div{
    display: inline-block;
    margin-right: 2px;
    width: 16%;
    height: 45px;
}
.doctor-cert-img img{
    height: 100%;
    width: 100%;
}