
@charset "utf-8";
/*新手引导滑动条*/
.clearfix { *zoom:1;}.clearfix:before, .clearfix:after { content: ""; display:table; }.clearfix:after { clear: both; }
.w1300{
	width: 1300px;
	margin: 0 auto;
}
a:hover{
	text-decoration: none;
}
.newer-help-spirit{
	background: url(../img/newer_help_spirit.png) no-repeat;
}
.newer-bar-common{
	background: url(../img/newer_bar_common.png) no-repeat;
}
/*顶部引动条部分*/
.newer-lead-content  .lead-title{
	display: inline-block;
	float: left;
	margin-right: 10px;			
}
.newer-lead-content .newer-lead-top{
	margin-left: 120px;
}
 .newer-lead-content .lead-title i{
 	font:20px/50px  '\5fae\8f6f\96c5\9ed1';
 	padding-right: 7px;
 	border-right: 1px solid #FF8B8B;
 }
.newer-lead-content .newer-lead-bar{
	padding: 35px 0;
}
.newer-lead-content .newer-lead-bar a.lead-step{
	position: relative;
	display: inline-block;
	height: 50px;
	float:left;
	font: 18px/40px '\5fae\8f6f\96c5\9ed1';
	text-align: center;
	color: #fff;
}
.newer-lead-top a.lead-step span{
	margin-top:5px;
	display: inline-block;
	width: 168px;
	height: 40px;
	background-color: #ff811b; 
	border-right: 2px solid #dd6615;
}
.newer-lead-top a.last span{
	border-right: 0
}
.newer-lead-content .newer-lead-top a.cur span,.newer-lead-bar a.lead-step:hover span{
	width: 170px;
}
.newer-lead-content .newer-lead-top a.cur,.newer-lead-content .newer-lead-top  a:hover,.newer-lead-top a.lead-step:hover span,.newer-lead-top a.cur span{
	background-color: #ff0000;
	border-right: 0;
}
.newer-lead-top a:hover,.newer-lead-top a.cur{
	width: 172px;
	margin-left: -2px;
}
/*画三角形*/
.newer-lead-bar .triangle-bottom{
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    display:inline-block; *display:inline; *zoom:1;
    border-color: #ff0000 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 12px  17px 0 17px;
}
.newer-lead-bar a.lead-step i{
	position: absolute;
	bottom: 20px;
	left:75px;
	z-index: -1;

}
.newer-lead-bar  a.lead-step:hover i,.newer-lead-bar  a.cur i{
	bottom: -5px;
}
/*-------顶部引动条部分结束------*/

/*滑动条部分*/
.newer-lead-content .lead-step-slider{
	height: 55px;
	margin: 35px 0 0 220px;


}
.newer-lead-content .newer-lead-bar .lead-step-slider a{
	display: block;
	float: left;
	width: 120px;
	font: 18px/36px  '\5fae\8f6f\96c5\9ed1';
	color: #ff6f6f;
	text-align: center;
	margin-left: 49px;
	_margin-left: 48px;
	

}
.newer-lead-content .newer-lead-bar .lead-step-slider a i{
	display: block;
	width: 26px;
	height: 35px;
	font-style: normal;
	margin: 0 auto;
	background-color: transparent !important;
}
.newer-lead-content .newer-lead-bar .lead-step-slider a.cur{
	color: #fff
}
.newer-lead-content .newer-lead-bar .lead-step-slider a.cur span{
	color: #ff0000
}
.newer-lead-content .lead-step-slider a.wait-cur:hover span{
	color: #ff0000
}



/*--------滑动条部分结束------*/

/*主要内容显示区*/

.newer-lead-content .newer-mian-tip{
	min-width: 1300px;
}
.newer-lead-content .newer-mian-tip{
	height:914px;
}
.newer-mian-tip .mian-tip-content{
	position: relative;	
}

.newer-lead-content .newer-mian-tip a,.newer-lead-content .newer-mian-tip .i-block{
	display: block;
	position: absolute;
	z-index: 555;
}

.newer-lead-content .newer-mian-tip  .img-div{
	position: absolute;
}
.newer-lead-content  .img-div a{
	text-indent: -99999em
}

/*公用背景图*/
.newer-lead-content  .reg-click-bg{
	background: url(../img/newer_bg_1.jpg) no-repeat center;
}
.newer-lead-content  .scan-help-bg,.newer-lead-content  .panicbuy-help-bg,.newer-lead-content  .fillcode-help-bg{
	background: url(../img/newer_bg_7.jpg) no-repeat center;
}

.newer-lead-content  .findorder-help-bg,.newer-lead-content  .checkmoney-help-bg{
	background: url(../img/newer_bg_11.jpg) no-repeat center;
}
.newer-lead-content  .orderstatus-help-bg,.newer-lead-content  .fillcode-help-bg2{
	background: url(../img/newer_bg_12.jpg) no-repeat center;
}
/*----公用背景图---*/
/*-----主要内容显示区---*/


/*--------各模块公用样式-------*/


/*注册账号-挑选商品-购买商品三个模块的公用滑动条*/

.newer-lead-content .reg-click-step{
	background-position: 0px 0px;
}
.newer-lead-content  .reg-fill-step{
	background-position: 0px -89px
}
.newer-lead-content  .reg-identity-step{
	background-position: -2px -178px
}
.newer-lead-content  .reg-success-step{
	background-position: -2px -267px
}
.newer-lead-content .newer-lead-bar .lead-step-slider a.first{
	margin-left: 109px;
	_margin-left:55px;
}
.newer-lead-content .newer-lead-bar .lead-step-slider a.three{
	margin-left: 48px
}
.newer-lead-content .newer-lead-bar .lead-step-slider a.last{
	margin-left: 50px
}
.newer-lead-content  .lead-step-slider a.wait-cur:hover i{
	color: #fff;
	background: url(../img/newer_help_spirit.png) no-repeat;
	background-position: -10px -20px;
}

/*--------三个模块的公用滑动条--------*/
/*挑选商品、购买商品两个模块的右侧浮动选择栏*/
.newer-lead-content  .newer-mian-tip  .chose-div{
	position: absolute;
	top:590px;
	right: 0px;
	z-index: 666;
	width: 112px;
	height:152px;
	padding:128px 45px 0;
	background: url(../img/register_help_3.png) no-repeat;	
}
.newer-mian-tip  .chose-div a{
	position: relative;
	display: block;
	width: 114px;
	height: 40px;
	color: #fff;
	text-align: center;
	background:url(../img/newer_help_spirit.png) -44px -18px no-repeat;
	
	margin-bottom: 4px;
	_margin-bottom:0;
}
.newer-mian-tip  .chose-div a:hover{
	background-position: -168px -17px;

}
.newer-mian-tip  .chose-div i{
	display: block;
	width: 113px;
	height: 17px;
}
.newer-mian-tip  .chose-div .yz-text{
	background-position: 20px -197px;


}
.newer-mian-tip  .chose-div .mp-text{
	background-position:20px -227px;

}
.newer-mian-tip  .chose-div .zx-text{
	background-position: 20px -264px;
	
}
/*----挑选商品、购买商品的右侧浮动选择栏-----*/

/*抢购状态、领取返现金的右侧右侧浮动栏，马上去个人中心*/
.newer-lead-content .newer-mian-tip a.to-personal-icon{
	top:400px;
	right: 16px;
	width:166px;
	height:102px;
	background-position: -3px -75px;
}
.newer-lead-content .newer-mian-tip a.to-personal-icon:hover{
	background-position: -181px -75px;
	/*background: url(../img/to_personal_hover.png) no-repeat;*/
}
/*------抢购状态、领取返现金的右侧右侧浮动栏，马上去个人中心----*/


