.f-lazy {
  background: #ffffff url(../../../common/img/icon/60x60_loading.gif) center center no-repeat;
}
.g-side {
  width: 200px;
  float: left;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}
.g-ft {
  margin-top: 0;
  border-top: none;
}
.g-bt {
  background-color: #E8E8E8;
  border-top: 1px solid #D9D9D9;
  color: #888;
  line-height: 18px;
}
.widget-backtotop-fw a {
  border-radius: 50px;
  margin-right: 15px;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#uxiconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.u-ifont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
.m-category {
  position: relative;
  z-index: 2;
}
.m-category .list {
  width: 202px;
  padding-top: 7px;
  border-top: 3px solid #A41516;
  background-color: #c81623;
  float: left;
}
.m-category .list li {
  padding-left: 50px;
  color: #fff;
  height: 47px;
  line-height: 47px;
  font-size: 14px;
  border-left: 1px solid #c81623;
  transition: padding-left 0.2s;
}
.m-category .list li i {
  margin-right: 5px;
  font-size: 14px;
}
.m-category .list li span {
  font-family: "\5B8B\4F53";
  font-size: 12px;
  margin-left: 2px;
  font-weight: bold;
  display: none;
}
.m-category .list li a {
  color: #fff;
}
.m-category .list li a:hover {
  text-decoration: none;
}
.m-category .list li.z-crt {
  padding-left: 55px;
  background-color: #fff;
  color: #c81623;
}
.m-category .list li.z-crt a {
  color: #c81623;
}
.m-category .list li.z-crt span {
  display: inline;
}
.m-category .sublist {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 202px;
  height: 470px;
  background-color: #fff;
}
.m-category .sublist div {
  display: none;
  padding-right: 10px;
}
.m-category .sublist ul {
  float: left;
  margin-left: 10px;
}
.m-category .sublist li {
  min-width: 55px;
  height: 22px;
  padding: 5px;
  border-bottom: 1px dashed #E2E2E2;
  line-height: 22px;
}
.m-category .sublist a:hover {
  text-decoration: none;
}
.m-slider {
  float: left;
  width: 576px;
  height: 470px;
  margin: 10px 10px 0 10px;
  overflow: hidden;
  position: relative;
}
.m-slider .showpic {
  width: 766px;
  height: 470px;
  overflow: hidden;
  position: relative;
}
.m-slider .showpic li {
  top: 0;
  left: 0;
}
.m-slider .showpic img {
  display: block;
  width: 766px;
  height: 470px;
  background: #ffffff url(../../../common/img/icon/60x60_loading.gif) center center no-repeat;
}
.m-slider .showpic a {
  display: block;
}
.m-slider .pointer {
  position: absolute;
  right: 30px;
  bottom: 18px;
}
.m-slider .pointer i {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
  text-indent: -100px;
  overflow: hidden;
  background-color: #fff;
  opacity: .5;
  filter: alpha(opacity=50);
}
.m-slider .pointer i.z-crt {
  border: 3px solid #FFF;
  background-color: transparent;
  margin-top: -3px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.m-photos {
  position: relative;
  overflow: hidden;
}
.m-photos .panel li {
  height: 303px;
}
.m-photos .panel li a {
  text-decoration: none;
}
.m-photos .panel li a img {
  width: 200px;
  height: 303px;
}
.m-photos .pointer {
  position: absolute;
  right: 14px;
  bottom: 18px;
}
.m-photos .pointer i {
  display: block;
  width: 6px;
  height: 6px;
  margin: 4px 0;
  border-radius: 9999px;
  text-indent: -100px;
  overflow: hidden;
  background-color: #e94a3d;
}
.m-photos .pointer i.z-crt {
  border: 2px solid #e94a3d;
  background-color: transparent;
  margin-left: -2px;
}
.m-rules {
  height: 166px;
  overflow: hidden;
  border-top: 1px solid #E3E3E3;
}
.m-rules .card {
  height: 36px;
  overflow: hidden;
  background-color: #f2f2f3;
}
.m-rules .card a {
  float: left;
  width: 66px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #333;
}
.m-rules .card a.z-crt {
  background-color: #fff;
}
.m-rules .panel {
  padding-top: 1px;
  line-height: 28px;
}
.m-rules .panel li {
  height: 28px;
  padding: 0 10px;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.m-rules .panel li a {
  color: #666;
}
/* 一直旋转 */
@-webkit-keyframes rotateRun {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateRun {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.m-new {
  margin-top: 15px;
}
.m-new .new-title {
  height: 30px;
  padding: 8px 0;
}
.m-new .new-title a {
  width: 85px;
  height: 28px;
  color: #333;
  display: block;
  float: left;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
}
.m-new .new-title a.z-crt {
  background: #c81623;
  color: #fff;
  border-radius: 15px;
}
.m-new .new-title a:hover {
  text-decoration: none;
}
.m-new .new-title i {
  margin: 8px 10px;
  height: 15px;
  width: 1px;
  float: left;
  overflow: hidden;
  background-color: #333;
}
.m-new .bd {
  background-color: #fff;
}
.m-new .bd .left-bd {
  width: 200px;
  height: 267px;
  float: left;
  position: relative;
  overflow: hidden;
}
.m-new .bd .left-bd a {
  color: #fff;
  display: block;
  width: 200px;
  height: 267px;
  margin-left: 0;
  position: relative;
}
.m-new .bd .left-bd a .minute {
  position: absolute;
  left: 100px;
  top: 52px;
  width: 3px;
  height: 33px;
  background-color: #fff;
  overflow: hidden;
  -webkit-transform-origin: 50% 31px;
  -ms-transform-origin: 50% 31px;
  transform-origin: 50% 31px;
  animation-name: rotateRun;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.m-new .bd .left-bd img {
  display: block;
}
.m-new .bd .left-bd .up-time {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255,113,136,0.6);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ff7188', endColorstr='#99ff7188');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ff7188', endColorstr='#99ff7188');
}
.m-new .bd .left-bd .up-time span {
  color: #ffc1c9;
  width: 62px;
  display: block;
  float: left;
  text-align: center;
  font-size: 13px;
}
.m-new .bd .left-bd .up-time span.z-crt {
  color: #fff;
}
.m-new .bd .left-bd .up-time i {
  margin-top: 17px;
  height: 15px;
  width: 1px;
  float: left;
  overflow: hidden;
  background-color: #fff;
}
.m-new .bd .right-bd {
  float: left;
  width: 799px;
  height: 266px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.m-new .bd .right-bd ul {
  width: 1000px;
}
.m-new .bd .right-bd .prev,
.m-new .bd .right-bd .next {
  display: none;
  position: absolute;
  width: 35px;
  height: 57px;
  top: 103px;
  font-family: "\5B8B\4F53";
  font-size: 40px;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000');
  color: #fff;
}
.m-new .bd .right-bd .prev:hover,
.m-new .bd .right-bd .next:hover {
  color: #fff;
  text-decoration: none;
}
.m-new .bd .right-bd .prev {
  left: 1px;
}
.m-new .bd .right-bd .next {
  right: 0;
}
.m-pro {
  position: relative;
  margin-top: 30px;
}
.m-pro .hd {
  position: absolute;
  top: 0;
  left: 0;
}
.m-pro .pro-title {
  position: absolute;
  top: 8px;
  left: 8px;
}
.m-pro .pro-title a {
  color: #fff;
  font-size: 14px;
}
.m-pro .pro-title a:hover {
  text-decoration: none;
}
.m-pro .pro-title a p {
  font-weight: 700;
}
.m-pro .pro-title i {
  position: absolute;
  top: 18px;
  left: 28px;
  color: #fff;
  font-size: 16px;
}
.m-pro .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #dda866 transparent transparent #dda866;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro .bd {
  background-color: #fff;
}
.m-pro .bd .cate-one {
  width: 200px;
  height: 302px;
  background-color: #F4E8D9;
  overflow: hidden;
}
.m-pro .bd .cate-one img {
  display: block;
}
.m-pro .bd .cate-one ul {
  width: 200px;
}
.m-pro .bd .cate-one .cate-left {
  float: left;
  font-size: 12px;
  width: 99px;
  height: 53px;
  line-height: 53px;
  overflow: hidden;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.m-pro .bd .cate-one .cate-left a {
  display: block;
  text-align: center;
}
.m-pro .bd .cate-one .cate-left a:hover {
  text-decoration: none;
}
.m-pro .bd .cate-one .cate-left.z-crt a {
  color: #fff;
  font-weight: 700;
  background-color: #F0CFA6;
}
.m-pro .bd .cate-one.small {
  border-top: 1px solid #fff;
  height: 266px;
  border-left: 1px solid #F4E8D9;
  margin-right: -1px;
}
.m-pro .bd .panel-lage {
  width: 200px;
  float: left;
  overflow: hidden;
}
.m-pro .bd .panel-main {
  float: left;
  width: 799px;
}
.m-pro .bd .cate-main {
  width: 799px;
  height: 534px;
  padding-top: 35px;
  overflow: hidden;
  position: relative;
}
.m-pro .bd .cate-main .cate-list {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
}
.m-pro .bd .cate-main .cate-list .cate-title {
  float: left;
  height: 32px;
  font-size: 14px;
  border-top: 3px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.m-pro .bd .cate-main .cate-list .cate-title.z-crt {
  border-top: 3px solid #c81623;
  border-left: 1px solid #c81623;
  border-right: 1px solid #c81623;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}
.m-pro .bd .cate-main .cate-list .cate-title.z-crt a {
  display: block;
  border-left: 1px solid #c81623;
  border-right: 1px solid #fff;
}
.m-pro .bd .cate-main .cate-list .cate-title a {
  color: #333;
  display: block;
  height: 20px;
  padding: 0 10px;
  margin-top: 6px;
  border-left: 1px solid #eee;
  margin-left: -1px;
  border-right: 1px solid #fff;
}
.m-pro .bd .cate-main .cate-list .cate-title a:hover {
  text-decoration: none;
}
.m-pro .bd .cate-main .floor {
  width: 800px;
  border-top: 1px solid #c81623;
  clear: both;
}
.m-pro .bd .cate-content {
  float: left;
}
.m-pro.t-level1 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #dda866 transparent transparent #dda866;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level1 .bd .cate-one {
  background-color: #f4e8d9;
}
.m-pro.t-level1 .bd .cate-one .cate-left a {
  background-color: #f4e8d9;
}
.m-pro.t-level1 .bd .cate-one .cate-left.z-crt a {
  background-color: #f0cfa6;
}
.m-pro.t-level2 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #2fbd9d transparent transparent #2fbd9d;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level2 .bd .cate-one {
  background-color: #b8f0e0;
}
.m-pro.t-level2 .bd .cate-one .cate-left a {
  background-color: #b8f0e0;
}
.m-pro.t-level2 .bd .cate-one .cate-left.z-crt a {
  background-color: #76ddc1;
}
.m-pro.t-level3 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #f5542e transparent transparent #f5542e;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level3 .bd .cate-one {
  background-color: #ffe7da;
}
.m-pro.t-level3 .bd .cate-one .cate-left a {
  background-color: #ffe7da;
}
.m-pro.t-level3 .bd .cate-one .cate-left.z-crt a {
  background-color: #ffa893;
}
.m-pro.t-level4 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #ff8a00 transparent transparent #ff8a00;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level4 .bd .cate-one {
  background-color: #fbe9c6;
}
.m-pro.t-level4 .bd .cate-one .cate-left a {
  background-color: #fbe9c6;
}
.m-pro.t-level4 .bd .cate-one .cate-left.z-crt a {
  background-color: #f9d25b;
}
.m-pro.t-level5 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #ff649d transparent transparent #ff649d;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level5 .bd .cate-one {
  background-color: #ffe0eb;
}
.m-pro.t-level5 .bd .cate-one .cate-left a {
  background-color: #ffe0eb;
}
.m-pro.t-level5 .bd .cate-one .cate-left.z-crt a {
  background-color: #ffb1ce;
}
.m-pro.t-level6 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #8662ff transparent transparent #8662ff;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level6 .bd .cate-one {
  background-color: #e6deff;
}
.m-pro.t-level6 .bd .cate-one .cate-left a {
  background-color: #e6deff;
}
.m-pro.t-level6 .bd .cate-one .cate-left.z-crt a {
  background-color: #bba8ff;
}
.m-pro.t-level7 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #ff7131 transparent transparent #ff7131;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level7 .bd .cate-one {
  background-color: #ffd8c7;
}
.m-pro.t-level7 .bd .cate-one .cate-left a {
  background-color: #ffd8c7;
}
.m-pro.t-level7 .bd .cate-one .cate-left.z-crt a {
  background-color: #ff9c72;
}
.m-pro.t-level8 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #5196ff transparent transparent #5196ff;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level8 .bd .cate-one {
  background-color: #d5e5fd;
}
.m-pro.t-level8 .bd .cate-one .cate-left a {
  background-color: #d5e5fd;
}
.m-pro.t-level8 .bd .cate-one .cate-left.z-crt a {
  background-color: #89b6f9;
}
.m-pro.t-level9 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #ffbd00 transparent transparent #ffbd00;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level9 .bd .cate-one {
  background-color: #faedcb;
}
.m-pro.t-level9 .bd .cate-one .cate-left a {
  background-color: #faedcb;
}
.m-pro.t-level9 .bd .cate-one .cate-left.z-crt a {
  background-color: #fddd80;
}
.m-pro.t-level10 .triangle {
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-color: #64b82c transparent transparent #64b82c;
  border-style: solid dashed dashed solid;
  border-width: 60px 60px 60px 60px;
}
.m-pro.t-level10 .bd .cate-one {
  background-color: #d4ebb3;
}
.m-pro.t-level10 .bd .cate-one .cate-left a {
  background-color: #d4ebb3;
}
.m-pro.t-level10 .bd .cate-one .cate-left.z-crt a {
  background-color: #a6e478;
}
.m-goods {
  float: left;
  padding: 10px;
  width: 179px;
  height: 246px;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}
.m-goods .pic {
  text-align: center;
}
.m-goods .pic img {
  width: 179px;
  height: 170px;
}
.m-goods .title {
  margin-top: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.m-goods a {
  color: #1a1a1a;
}
.m-goods .price {
  padding-top: 3px;
  padding-bottom: 1px;
}
.m-goods .price span {
  font-size: 16px;
  font-weight: bold;
  color: #d11414;
}
.m-goods .price del {
  padding-left: 6px;
  color: #a0a0a0;
}
.m-goods .detail {
  height: 18px;
}
.m-goods .detail span {
  float: left;
  margin-right: 3px;
  height: 18px;
  color: #fff;
  text-align: center;
  background: url(../img/index_ico.png) no-repeat;
}
.m-goods .detail .fan {
  padding-right: 3px;
  width: 95px;
  background-position: 0 0;
}
.m-goods .detail .discount {
  width: 45px;
  background-position: 0 -20px;
}
.m-goods .detail .icon {
  width: 27px;
}
.m-goods .detail .tmall {
  background-position: 0 -41px;
}
.m-goods .detail .taobao {
  background-position: -29px -41px;
}
.m-goods .detail .jd {
  background-position: 0 -61px;
}
.m-goods .detail .yihao {
  background-position: -29px -61px;
}
.m-flow {
  padding: 20px 0;
}
.m-flow li {
  padding: 18px;
  float: left;
  width: 164px;
  text-align: center;
  color: #888;
}
.m-flow .icon {
  color: #eb4545;
  font-size: 34px;
}
.m-flow h3 {
  color: #333;
}
.m-rank {
  width: 619px;
  height: 295px;
  margin-top: 38px;
  border-right: 1px solid #f5f5f5;
  background-color: #fff;
}
.m-rank .hd {
  position: relative;
  padding: 7px 0;
  height: 32px;
  border-bottom: 1px dotted #f5f5f5;
}
.m-rank .hd .tt {
  position: absolute;
  left: 30px;
  top: -7px;
  padding-top: 5px;
  width: 80px;
  height: 62px;
  background: url(../img/index_ico.png) no-repeat 0 -84px;
  color: #fff;
  text-align: center;
}
.m-rank .hd .icon {
  font-size: 16px;
}
.m-rank .hd .card {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.m-rank .hd .card span {
  display: inline-block;
  margin: 0px 10px;
  color: #646465;
  font-size: 14px;
}
.m-rank .hd a {
  display: inline-block;
  width: 75px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 13px;
}
.m-rank .hd a:hover {
  text-decoration: none;
}
.m-rank .hd .z-crt {
  background-color: #C81623;
  color: #fff;
}
.m-rank .bd {
  height: 200px;
  overflow: hidden;
  white-space: ;
  padding-top: 25px;
}
.m-rank .bd li {
  float: left;
  padding: 25px 0 25px 30px;
  width: 279px;
  color: #999;
}
.m-rank .bd .loading {
  float: none;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 75px auto 0 auto;
  border: 0;
}
.m-rank .bd .pic {
  position: relative;
  float: left;
  display: inline-block;
  padding-right: 5px;
  width: 50px;
  height: 50px;
}
.m-rank .bd .pic span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
}
.m-rank .bd img {
  width: 50px;
  height: 50px;
}
.m-rank .bd .floor {
  position: absolute;
  top: 0;
  right: 6px;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 100px;
  background-color: #e3504c;
  color: #fff;
  text-align: center;
  font-style: normal;
}
.m-rank .bd .name {
  display: inline-block;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: text-bottom;
  color: #999;
}
.m-rank .bd .money {
  color: #d11112;
  font-size: 18px;
}
.m-rank .bd .money i {
  font-style: normal;
  font-size: 16px;
}
.m-rank .bd sup {
  color: #d11112;
  font-size: 10px;
}
.m-other {
  width: 100%;
  height: 150px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}
.m-other img {
  display: block;
  width: 1190px;
  height: 150px;
}
.m-other a {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -595px;
}
.m-media {
  width: 380px;
  height: 295px;
  margin-top: 38px;
  background-color: #fff;
}
.m-media .hd {
  position: relative;
  padding: 7px 0;
  height: 32px;
  border-bottom: 1px dotted #f5f5f5;
}
.m-media .hd .tt {
  position: absolute;
  left: 30px;
  top: -7px;
  padding-top: 5px;
  width: 80px;
  height: 62px;
  background: url(../img/index_ico.png) no-repeat 0 -84px;
  color: #fff;
  text-align: center;
}
.m-media .hd .icon {
  font-size: 16px;
}
.m-media .hd .orn {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  color: #818181;
}
.m-media .bd {
  padding: 20px 5px 0 20px;
}
.m-media .bd li {
  float: left;
  margin-top: 3px;
  width: 175px;
  height: 108px;
  text-align: center;
}
.m-media .bd .pic {
  display: inline-block;
  padding: 20px 0;
  width: 128px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}
.m-media .bd img {
  width: 120px;
  height: 40px;
}
.m-media .bd .border {
  border-right: 1px solid #f5f5f5;
}
.m-media .bd a {
  display: block;
}
.m-media .bd a:hover {
  text-decoration: none;
  color: #e94c40;
}
.m-media .bd a:hover .pic {
  border-color: #e94c40;
}
.m-cprt .f-fr {
  display: none;
}
.m-help {
  padding-top: 30px;
}
.m-help .qrcode {
  float: left;
  width: 190px;
}
.m-help .qrcode span {
  display: block;
  width: 90px;
  height: 90px;
  background: url(/front/index/img/qrcode.png) 0 0 no-repeat;
}
.m-help .qrcode strong {
  display: block;
  font-weight: normal;
  margin-top: 10px;
}
.m-help .con-help {
  float: left;
  width: 600px;
}
.m-help .con-help li {
  float: left;
  padding-left: 15px;
  width: 135px;
  line-height: 30px;
}
.m-help .con-help h3 {
  padding-bottom: 5px;
  color: #333;
  font-size: 16px;
  font-weight: normal;
}
.m-help .con-help a {
  color: #949494;
}
.m-help .con-help a:hover {
  color: #d11414;
}
.m-help .email {
  float: right;
  width: 190px;
  text-align: center;
}
.m-help .email span {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 35px;
  width: 72px;
  height: 21px;
  background: url(/front/index/img/index_ico.png) 0 -186px no-repeat;
  color: #fff;
}
.m-help .email strong {
  display: block;
  margin-top: 10px;
  color: #949494;
  font-weight: normal;
  font-size: 14px;
}
.z-doc-wide .m-slider {
  width: 766px;
}
.z-doc-wide .m-new .left-bd {
  width: 190px;
}
.z-doc-wide .m-new .left-bd a {
  margin-left: -5px;
}
.z-doc-wide .m-new .right-bd {
  width: 999px;
}
.z-doc-wide .m-pro .bd .panel-lage {
  width: 190px;
}
.z-doc-wide .m-pro .bd .cate-one {
  width: 199px;
}
.z-doc-wide .m-pro .bd .cate-one img {
  margin-left: -5px;
}
.z-doc-wide .m-pro .bd .cate-one .cate-left {
  width: 94px;
}
.z-doc-wide .m-pro .bd .panel-main {
  width: 1000px;
}
.z-doc-wide .m-pro .bd .panel-main .cate-main {
  width: 999px;
}
.z-doc-wide .m-pro .bd .panel-main .cate-main .floor {
  width: 1000px;
}
.z-doc-wide .m-flow li {
  width: 200px;
}
.z-doc-wide .m-rank {
  width: 809px;
}
.z-doc-wide .m-rank li {
  width: 236px;
}
.z-doc-wide .con-help {
  width: 780px;
  padding-left: 30px;
}
.z-doc-wide .con-help li {
  width: 180px;
}
