@charset "utf-8";
.header { background: #fff; min-width: 1000px;}
.header-main { width:1000px; margin:0 auto; padding:20px 0; *zoom:1;}.header-main:before, .header-main:after { content: ""; display:table; }.header-main:after { clear:both;}
.header-logo { float: left; height: 49px;  overflow: hidden;  }
.header-new-logo { float: left;width: 300px; }
.header-new-logo a:hover { text-decoration: none; }
.header-new-logo h1 { float: left; }
.header-new-logo h1 a { display: block; width: 116px; height: 47px; *height: 0; *padding-top: 47px; overflow: hidden; *background: url("../../../buyer/common/img/logo.png") no-repeat 0 0; }
.header-new-logo h1 a:before { content: url("../../../buyer/common/img/logo.png"); }
.header-new-logo .tt { float: left; color: #d11414; font-size: 16px; line-height: 1; margin-top: 1px; margin-bottom: 7px; margin-left: 20px; font-family: "\9ED1\4F53", "\5FAE\8F6F\96C5\9ED1"; }
.header-new-logo .home { float: left; margin-left: 20px; padding: 1px 21px; border-radius: 11px; display: inline-block; box-sizing: content-box; font-size: 12px; letter-spacing: 1px; text-align: center; vertical-align: middle; cursor: pointer; word-wrap: normal; white-space: nowrap; background-color: #D11414; border: 1px solid #D11414; color: #fff; outline: 0; height: 18px; line-height: 18px; }
.header-new-logo .home:hover{ color: #D11414; background-color: #fff; border-color: #D11414; text-decoration: none; }
.header-search { float: right;  height: 38px; margin-top: 5px; background-color: #fff; border: 1px solid #CCC; *width:368px; _overflow: hidden;}
.header-search-type {  float: left; height: 38px; overflow: hidden; _position: relative; }
.header-search-type:hover,.header-search-typeHover { height: auto;}
.header-search-type li { height: 38px; line-height: 38px; padding: 0 20px 0 10px; font-size: 14px; color: #666; white-space: nowrap;cursor: pointer;  _float:left;_clear:both; background-color:#FFF;}
.header-search-type li:hover { background-color: #eee;}
.header-search-type-selected { background: url("../../../images/user/user_menu.png") no-repeat 43px -95px #fff; }
.header-search-txt { float: left; width: 260px; height: 20px; line-height: 20px; padding:9px 0; overflow: hidden;border: 0; border: none; font-size: 14px;  }
.header-search-btn { float: right; width:50px; height: 38px; overflow: hidden; background: url("../../../images/user/user_menu.png") no-repeat 16px -130px; border:none; cursor: pointer; white-space: nowrap;}
.header-nav { background: #c00; min-width: 1000px;}
.header-nav ul { width:1000px; margin: 0 auto; height: 36px; }
.header-nav li { float: left; position: relative;}
.header-nav a { display: block; width: 160px; line-height: 36px; font-size: 16px; font-family: \5FAE\8F6F\96C5\9ED1; color: #fff; text-align: center; }
.header-nav a:hover,
.header-nav-current { background: #900000; color:#fff;}
