@charset "utf-8";
/*==============  ui-box  ===============*/
.ui-box { box-shadow: 0 1px 3px rgba(0,0,0,.3);-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3); background-color: #fff;}
.ui-box, .ui-box-outer, .ui-box-inner { border:1px solid #ccc; border-radius: 3px;  padding-bottom: 1px;}
.ui-box-outer, .ui-box-inner { border-top-width:0; margin:0 -1px;}
.ui-box-inner { padding: 0; min-height: 1px;}
.ui-box2 { border-top-left-radius: 0px;border-top-right-radius: 0px; border-top: 2px solid #F2273A;}
.ui-box-head { height: 40px; padding-left:10px; line-height: 40px; color: #333; background-color: #EEE;}
.ui-box-title { font-size: 14px; font-weight: 700; color: #4c4c4c;}
.ui-box-body {padding: 15px}
/*==============  ui-form  ===============*/

/*--- select ---*/
.ui-select { height: 26px; line-height: 18px; padding: 4px; vertical-align: middle; } 

/*---text---*/
input.ui-form-text:focus { outline: none; }
.ui-form-text { min-width: 1em; height: 15px; line-height: 16px; padding: 5px; font-size: 12px; border:1px solid #d3d3d3;}
.ui-form-textGray:focus { border-color:#d3d3d3; box-shadow: 0 0 3px rgba(0,0,0,.3) }
.ui-form-textRed:focus { border-color:#FF818E; box-shadow: 0 0 3px rgba(204,0,0,.6); }
.ui-form-textBlud:focus { border-color: #598EDE; box-shadow: 0 0 3px rgba(0,0,204,.6); }
.ui-form-textDatetime { min-width: 125px; padding-right:26px; background: url(../../../../images/user/datetime_icon.png) no-repeat right 50%; cursor: default;}
.ui-form-textDatetime:focus { background-image: url(../../../../images/user/datetime_icon2.png) }


/*---button---*/
.ui-form-button { padding: .35em 1.35em; font-size: 14px;  border-width: 0; border-radius: .3em; cursor: pointer; *overflow: visible;}
.ui-form-buttonGray { background-color: #999; color: #fff; }
.ui-form-buttonGray:hover { background-color: #666; }
.ui-form-buttonRed { background-color: #F1273A;  color: #fff; }
.ui-form-buttonRed:hover { background-color: #BF1C2C; }
.ui-form-buttonBlue { background-color: #156AF2;  color: #fff; }
.ui-form-buttonBlue:hover { background-color: #0346AD; }

/*下面这个很丑的,单独声明，慎用;*/
.ui-form-btnSearch, .paging-goto {
	text-shadow: 0 1px 1px #fff;
	cursor: pointer;
	padding: 4px 10px 3px; border: 1px solid #acacac; font-size: 12px; *overflow: visible;
	color:#333;
	background-color: #CCCCCC;
	background-image: -webkit-linear-gradient(#eaeaea, #eaeaea 25%, #CCCCCC);
	background-image: -moz-linear-gradient(top, #eaeaea, #eaeaea 25%, #CCCCCC);
	background-image: -o-linear-gradient(#eaeaea, #eaeaea 25%, #CCCCCC);
	background-image: linear-gradient(#eaeaea, #eaeaea 25%, #CCCCCC);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#CCCCCC', GradientType=0);
}
.ui-form-btnSearch:active, .paging-goto:active  {background: #f0f0f0;filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}

/*==============  ui-paging  ===============*/
.paging { line-height: 2; font-family: \5b8b\4f53; color: #666;}
.paging a, .paging-currentPage {display: inline-block; padding:.1em .9em; margin-right: .4em; border: 1px solid #ccc; color:#666; background-color: #fff; }
.paging a:hover,.paging-currentPage {border-color: #c00; color: #c00; text-decoration: none;}
.paging-currentPage { font-weight: 700; }
.paging-ellipsis { margin-right: .4em; color: #666; font-weight: 700; font-family: tahoma;}
.paging-next,.paging-prev { background-color: #fff;}
.paging-total { margin-right: .4em; }
.paging form { display: inline-block; *zoom:1; *display: inline;}
.paging-pageNum { height: 15px; line-height: 16px; padding: 5px; font-size: 12px; width: 3em; border:1px solid #ccc; text-align: center; vertical-align: middle; background-color: #fff;}
.paging-pageNum:focus { border-color:#FF818E; box-shadow: 0 0 4px rgba(204,0,0,.6); }
.paging-goto {/* 同.ui-form-btnSearch */ vertical-align: middle; }

.paging-center { text-align: center; }
.paging-center .paging { display: inline-block; *zoom:1; *display: inline;}

/*==============  ui-tab  ===============*/
.ui-tab {  }
.ui-tab-nav { margin-bottom: -1px; *position: relative; *zoom:1; }
.ui-tab-item { display: inline-block; *zoom:1; *display: inline; *margin-right: 5px; border: 1px solid #ccc; background-color: #EBEBEB; }
.ui-tab-item, .ui-tab-item a { border-top-left-radius:2px; border-top-right-radius:2px; }
.ui-tab-itemCurrent { border-bottom:none; padding-bottom: 1px; background-color: #fff;}
.ui-tab-item a { display: block; padding:0 .8em; font-size: 12px; line-height: 2.6; border-top: 1px solid #fff; border-left: 1px solid #fff; color:#666; text-decoration: none; text-shadow: 0 1px 1px #fff; }
.ui-tab-itemCurrent a { font-weight: 700;}
.ui-tab-cont { padding-top: 25px; border-top: 1px solid #ccc; background-color: #fff;}
.ui-tab-panel { }

/*==============  ui-table  ===============*/
.ui-table { border: 1px solid #ccc; table-layout: fixed; width: 100%; }
.ui-table th { height: 35px;}
.ui-table th, .ui-table td { vertical-align: middle; text-align: center;}

.ui-table a { color: #36c; text-decoration: none;}
.ui-table a:hover { color: #36c; text-decoration: underline;}
.ui-table th { 
	font-size: 12px;
	color:#4c4c4c;
	text-shadow:0 1px 1px #fff;
	background-color: #CCCCCC;
	background-image: -webkit-linear-gradient(#eaeaea, #eaeaea 25%, #CCCCCC);
	background-image: -moz-linear-gradient(top, #eaeaea, #eaeaea 25%, #CCCCCC);
	background-image: -o-linear-gradient(#eaeaea, #eaeaea 25%, #CCCCCC);
	background-image: linear-gradient(#eaeaea, #eaeaea 25%, #CCCCCC);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#CCCCCC', GradientType=0);
}
.ui-table td { border: 1px solid #ccc; border-bottom-style: dotted; border-top:none;padding: 12px 0; word-break: break-all; word-wrap: break-word;}
.ui-table-colActivityName { width: 15em;} /*用到col标签上去。*/
/*限制活动标题最多显示三行（后台程序限制活动标题最多是50个字符(汉字算两字符)，如果以后限制字数有变这个宽度要改）*/
.ui-table-activityName { text-align: left !important; word-break: break-all; word-wrap: break-word; } /* 用到td上 */
.ui-table-activityName img { float: left; height: 60px; margin: 0 6px; width: 60px; }

/*表头的"全选"组件，html：
<th class="ui-table-checkAll"><label><input type="checkbox" />全选</label></th>*/
.ui-table-checkAll { width: 55px;} /*用到thead 的th标签上去。*/
.ui-table-checkAll input { vertical-align: middle; margin-right:3px; } 

.ui-table-colRebate { width: 10em;}
.ui-table-colDatetime { width: 12em;}
/*现在的日期格式为：2013年6月13日 14:00 ；若他日时间格式有变，这个宽度要改*/
.ui-table-operate a { display: inline-block; padding:2px 5px; border-radius: 3px; margin-top: 5px; white-space: nowrap; color:#fff; background-color: #1BB974; cursor: pointer; } /*用到td标签上去*/
.ui-table-operate a:hover { color:#fff; text-decoration: none; background-color: #4BDB9B;}
.ui-table-statusR { color: #F2273A;} /*红：审核中等*/    /*js正则判断添加*/
.ui-table-statusG { color: #1BB974;} /*绿：通过等*/
.ui-table-statusB { color: #3366CC;} /*蓝：进行中等*/
.ui-table-statusGray { color: #808080;} /*灰：结束等*/

/*--- ui-table2 ---*/
.ui-table2 {  table-layout: fixed; width: 100%; }
.ui-table2 th { text-align: right;  padding-right:12px;}
.ui-table2 td {text-align: left; padding: 6px 0;}

/*-------------- 面包屑 -----------*/
.ui-breadcrumbs { display: block; color: #404040; margin-bottom: 10px; *zoom: 1;}
.ui-breadcrumbs:before,
.ui-breadcrumbs:after { display: table; content: ''; line-height: 0;}
.ui-breadcrumbs:after { clear: both;}
.ui-breadcrumbs-tit { float: left; margin-right: 8px; color: #404040;}
.ui-breadcrumbs-path { float: left;}
.ui-breadcrumbs-path a { color: #404040;}
.ui-breadcrumbs-path a:hover { color: #c00; text-decoration: underline;}
.ui-breadcrumbs-path i { display: inline-block; *zoom: 1; *display: inline; padding-left: 6px; padding-right: 3px; font-family: \5b8b\4f53; font-style: normal;}
.ui-breadcrumbs-target { float: left; padding-left: 5px; }


/*--------------- 流程步骤 ----------------*/
.ui-step { table-layout: fixed; width: 100%; border-collapse: collapse; border-spacing: 0; }
.ui-step td { min-width: 80px; max-width: 385px; }

.ui-step-title { padding: 3px 0; color: #888; font-weight: 700; text-align: center;}
.ui-step-current .ui-flowstep-title { color: #009251;}

.ui-step-number { height: 34px; line-height: 34px; font-family: 'arial black'; color: #fff; font-size: 18px; text-align: center;background: url(../../../images/user/flowstep_bg.png) no-repeat;}
.ui-step-before .ui-step-number { background-position: 50% -170px; text-indent: -99em; white-space: nowrap; overflow: hidden; }
.ui-step-current .ui-step-number { background-position: 50% 0px; }
.ui-step-after .ui-step-number { background-position: 50% -102px; }

/*渐进增强*/
.ui-step td.ui-step-current:first-child .ui-step-number { background-position: 50% -34px;}
.ui-step td.ui-step-before:first-child .ui-step-number { background-position: 50% -204px;}
.ui-step td.ui-step-current:last-child .ui-step-number { background-position: 50% -68px;}
.ui-step td.ui-step-after:last-child .ui-step-number { background-position: 50% -136px;}
/*手机专享*/
.apptip{background-color: #f1273a;color: #fff;width: 65px;margin: 5px auto 0;}
/*

<table class="ui-step">
	<tr>
		<td class="ui-step-before">
			<p class="ui-step-title">流程步骤1</p>
			<p class="ui-step-number">1</p>
		</td>
		<td class="ui-step-before">
			<p class="ui-step-title">流程步骤2</p>
			<p class="ui-step-number">2</p>
		</td>
		<td class="ui-step-current">
			<p class="ui-step-title">流程步骤3</p>
			<p class="ui-step-number">3</p>
		</td>
		<td class="ui-step-after">
			<p class="ui-step-title">流程步骤4</p>
			<p class="ui-step-number">4</p>
		</td>
		<td class="ui-step-after">
			<p class="ui-step-title">流程步骤5</p>
			<p class="ui-step-number">5</p>
		</td>
	</tr>
</table>

*/
