.invite{margin-bottom:30px;border-bottom:1px solid #e6e6e6}
.invite-cont{padding:5px 0 20px 0;color:#333}.invite-cont b{color:#c00;font-family:arial}
.invite-cont a{color:#06f}.invite-cont a:hover{text-decoration:underline}
.invite-protocol{padding-top:18px;padding-bottom:18px;border-top:1px solid #d7d7d7}.invite-protocol label{margin-right:100px;color:#06f}.invite-protocol label input{vertical-align:middle}
.invite-protocol label a{color:#06f}
.invite-btn{padding:8px;border:0;border-radius:3px;background-color:#f1273a;color:#fff;cursor:pointer}
.invite-btn-disabled{background-color:#ccc;cursor:default;text-shadow:0 0 3px #666}
.invite-copy-box{margin-bottom:20px}.invite-copy-box .invite-copy{overflow:hidden}
.invite-copy-txt{float:left;margin-right:10px;padding:3px;width:593px;height:78px;border:1px solid #d2d2d2;resize:none;color:#555;outline:0}
.invite-copy-btn{float:left;display:inline-block;width:86px;height:86px;background:url(/user/buyer/images/invite_copy.png) no-repeat;text-indent:-9999em}
.invite-more-link{margin-left:5px;background-position:-91px 0}
.invite-share{margin:15px 0;color:#333}
.invite-price{margin-bottom:15px}.invite-price-cur{color:#c00;font-weight:700}
.invite-price-hide{display:inline-block;padding:0 4px;border:1px solid #d2d2d2;background-color:#f4f6f8;color:#888;font-weight:100;font-family:\5b8b\4f53}
.art-invite-title{float:left;width:65px;height:38px;line-height:38px;font-size:12px;vertical-align:middle}
.art-invite .art-invite-txt{margin-right:10px;padding:3px;width:500px;height:30px;border:1px solid #d2d2d2;color:#555;outline:0}
.art-invite-error{display:block;margin-left:65px;margin-bottom:20px;color:#e00}
.art-invite .invite-btn{margin-left:247px}
.invite-share a,.invite-price-share a{display:inline-block;margin-right:5px;width:16px;height:16px;background:url(/common/img/icon/share_icons_16.png) no-repeat;vertical-align:middle}
.invite-share .weibo,.invite-price-share .weibo{background-position:0 -104px}
.invite-share .qzone,.invite-price-share .qzone{background-position:0 -52px}
.invite-share .pyou,.invite-price-share .pyou{background-position:0 -2652px}
.invite-price-share{display:inline;margin-left:10px}
.invite-no-data{margin:15px 0;text-align:center}
.invite-green{color:#1bb974}
.invite-red{color:#ff445e}
.bill-detail-filter input{vertical-align:middle}
.bill-detail-filter .ui-form-textDatetime{width:153px}
